

<div class="row">
  <div id="matrix" class="col-3">
    <div>- empty | 0 man made stone | 1 natural stone | D door | W water</div>
    <textarea rows="22" cols="60" [(ngModel)]="textAreaValue"></textarea>
    <div>{{ matrixForSave }}</div>
  </div>
  <div id="board" class="col-9">
    <ul id="hexGrid" *ngFor="let row of currentMatrix; let odd=odd; let rowIndex=index;" >
      <li class="hex" *ngFor="let cell of row; let colIndex=index;" [class.odd]="odd">
        <div class="hexIn" *ngIf="cell.slice(-1).pop(); let uppestToken">
          <a *ngIf="uppestToken.id!=='-'" class="hexLink {{uppestToken.type}}">
            <img [src]="uppestToken.src" alt=""/>
            <div class="token-status" align ="center" *ngIf="uppestToken.status">
              <img *ngIf="uppestToken.status.poisoned" class="status" src = "./assets/poisoned.png"/>
              <img *ngIf="uppestToken.status.wounded" class="status" src = "./assets/wounded.png"/>
              <img *ngIf="uppestToken.status.immobilized" class="status" src = "./assets/immobilized.png"/>
              <img *ngIf="uppestToken.status.disarmed" class="status" src = "./assets/disarmed.png"/>
              <img *ngIf="uppestToken.status.stunned" class="status" src = "./assets/stunned.png"/>
              <img *ngIf="uppestToken.status.muddled" class="status" src = "./assets/muddled.png"/>
              <img *ngIf="uppestToken.status.invisible" class="status" src = "./assets/invisible.png"/>
              <img *ngIf="uppestToken.status.strengthened" class="status" src = "./assets/Strengthen.png"/>
            </div>
            <div class="info" *ngIf="uppestToken.stats!.h">{{uppestToken.stats!.h}} <ng-container *ngIf="uppestToken.stats!.s"> - ({{uppestToken.stats!.s}})</ng-container></div>
            <h1 *ngIf="['enemy','enemy elite','summon_player'].includes(uppestToken.type)">{{uppestToken.name}}</h1>
            <p *ngIf="['enemy','enemy elite'].includes(uppestToken.type)">{{uppestToken.stats!.m}}M {{uppestToken.stats!.a}}A {{uppestToken.stats!.r}}R</p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
