<h1 align="center" *ngIf="priceModifier" [ngClass]="priceModifier > 0?'text-danger':'text-success'">Price Modifier: {{priceModifier}}</h1>
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <span class="nav-link" [class.active]="itemTypeSelected === 'head'" (click)="itemTypeSelected = 'head'">
      <img src="assets/images/items/head.png" *ngIf="itemTypeSelected === 'head'">
      <img src="assets/images/items/head_inverted.png" *ngIf="itemTypeSelected !== 'head'">
    </span>
  </li>
  <li class="nav-item">
    <span class="nav-link" [class.active]="itemTypeSelected === 'body'" (click)="itemTypeSelected = 'body'">
      <img src="assets/images/items/body.png" *ngIf="itemTypeSelected === 'body'">
      <img src="assets/images/items/body_inverted.png" *ngIf="itemTypeSelected !== 'body'">
    </span>
  </li>
  <li class="nav-item">
    <span class="nav-link" [class.active]="itemTypeSelected === 'legs'" (click)="itemTypeSelected = 'legs'">
      <img src="assets/images/items/leg.png" *ngIf="itemTypeSelected === 'legs'">
      <img src="assets/images/items/leg_inverted.png" *ngIf="itemTypeSelected !== 'legs'">
    </span>
  </li>
  <li class="nav-item">
    <span class="nav-link" [class.active]="itemTypeSelected === 'one-hand'" (click)="itemTypeSelected = 'one-hand'">
      <img src="assets/images/items/hand.png" *ngIf="itemTypeSelected === 'one-hand'">
      <img src="assets/images/items/hand_inverted.png" *ngIf="itemTypeSelected !== 'one-hand'">
    </span>
  </li>
  <li class="nav-item">
    <span class="nav-link" [class.active]="itemTypeSelected === 'two-hands'" (click)="itemTypeSelected = 'two-hands'">
      <img src="assets/images/items/hands.png" *ngIf="itemTypeSelected === 'two-hands'"><img src="assets/images/items/hands.png" *ngIf="itemTypeSelected === 'two-hands'">
      <img src="assets/images/items/hands_inverted.png" *ngIf="itemTypeSelected !== 'two-hands'"><img src="assets/images/items/hands_inverted.png" *ngIf="itemTypeSelected !== 'two-hands'">
    </span>
  </li>
  <li class="nav-item">
    <span class="nav-link" [class.active]="itemTypeSelected === 'small-item'" (click)="itemTypeSelected = 'small-item'">
      <img src="assets/images/items/smallitem.png" *ngIf="itemTypeSelected === 'small-item'">
      <img src="assets/images/items/smallitem_inverted.png" *ngIf="itemTypeSelected !== 'small-item'">
    </span>
  </li>
</ul>
<div class="player-items">
  <img *ngFor="let item of items | filterItemsByTipe:itemTypeSelected" [src]="item.image|prefix:'assets/images/'" width="180">
</div>
