<h2>Locations</h2>

<ul>
  <li *ngFor="let location of locations" [class.available]="location.status === 'Available'" [class.completed]="location.status === 'Completed'" [class.blocked]="location.status === 'Blocked'">
    <div class="col-md-12 col-sm-12" style="clear: both; width: 100%">
      <div style="width: 20%; float: left;"><img src="assets/images/world-map/{{location.id}}.png" style="width: 100%" /></div>
      <div style="width: 80%; float: left;">
        <div style="">
          <em *ngIf="location.status === 'Available'" class="material-symbols-outlined">radio_button_unchecked</em>
          <em *ngIf="location.status === 'Completed'" class="material-symbols-outlined">check_circle</em>
          <em *ngIf="location.status === 'Blocked'" class="material-symbols-outlined">block</em>
          ({{location.status}})
          <ng-container *ngIf="location.globalAchievementsRequired.length > 0 ||location.partyAchievementsRequired.length > 0">
            [Required: {{location.globalAchievementsRequired.concat(location.partyAchievementsRequired).join(' AND ')}}]
          </ng-container>
          <ng-container *ngIf="location.globalAchievementsRequiredIncomplete.length > 0">
            [Required INCOMPLETE: {{location.globalAchievementsRequiredIncomplete.join(' AND ')}}]
          </ng-container>
        </div>
        <div>{{location.id}} {{location.title}}</div>
        <div>Location: {{location.location}}</div>
      </div>
    </div>
  </li>
</ul>
