<div id ="health" align = "center">Health<br/>
  <div>
    <p id="health-counter"style="font-size: 35px; color:red;">{{ health }}</p><br/>
    <button (click)="damageButtonClick()" [disabled]="health === 0" type ="button" style="font-size:15px;">-</button>
    <button (click)="healButtonClick()" [disabled]="health === maxHealth || status.poisoned" type ="button" style="font-size:15px;" title="If Poisoned, Heal Skills Must Remove Poison Instead of Increasing Health">+</button>
  </div>
</div>
<div id ="xp" align = "center">XP<br/>
  <p id="xp-counter" style="font-size: 35px; color:cyan;">{{ experience }}</p><br/>
  <button (click)="xpDownClick()" [disabled]="experience === 0" type ="button" style="font-size:15px;">-</button>
  <button (click)="xpUpClick()" type ="button" style="font-size:15px;">+</button>
</div>
<div id ="loot" align = "center">Loot<br/>
  <p id="loot-counter" style="font-size: 35px; color:gold;">{{ loot }}</p><br/>
  <button (click)="lootDownClick()" [disabled]="loot === 0" type ="button" style="font-size:15px;">-</button>
  <button (click)="lootUpClick()" type ="button" style="font-size:15px;">+</button>
</div>
