
<h1 style="margin:150px auto 30px auto; color:#fff" align="center">3D Hexagon Grid Layout Demo</h1>
<div class="container">
  <div class="honeycomb">
    <div class="hexes-1 column">

      <a class="hex">
        <div class="wrapper">
          <div class="hexagon color-1"></div>
        </div>
        <span class="content">
          <strong>CSSScript</strong>
          <small>i'm a hexagonnnnnn</small>
        </span>
      </a>

      <a class="hex">
        <div class="wrapper">
          <img class="hexagon color-1" src="assets/Cragheart_token.png" alt="" />
        </div>
        <span class="content">
          <strong>CSSScript</strong>
          <small>i'm a hexagon</small>
        </span>
      </a>

      <a class="hex">

      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a>
    </div>
    <div class="hexes-2 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-3 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-4 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-5 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-6 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-7 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-8 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-9 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-10 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-11 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-12 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-13 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-14 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="hexes-13 column"> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> <a class="hex">
      <div class="wrapper">
        <div class="hexagon color-1"></div>
      </div>
      <span class="content"> <strong>CSSScript</strong> <small>i'm a hexagon</small> </span> </a> </div>
    <div class="shadows"></div>
  </div>
</div>

