<div class="row">
  <div *ngFor="let character of characters" class="col-md-6 col-sm-12 " [style.backgroundImage]="'url(assets/background.png)'">
    <app-player-sheet [character]="character"></app-player-sheet>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12" style="white-space: pre-wrap !important;">
"¿Entonces quieres iniciar algún tipo de registro de todos los mercenarios que han salido de Gloomhaven?" pregunta un hombre bajo y barbudo con el ceño fruncido. "Suena un poco arrogante para mí, pero estoy seguro de que tengo un libro de registro de repuesto en algún lugar de las estanterías".
<br/>
Deja su bolígrafo en el lomo del libro que estaba entintando y sale de detrás del mostrador en el frente del edificio de Town Records. "Regresaré en un momento. ¡No robes nada!"
<br/>
Él frunce el ceño otra vez antes de darse la vuelta y caminar hacia la parte trasera del edificio, casi tropezando con su bata demasiado larga varias veces. Mientras se desliza detrás de uno de los muchos estantes de libros, su atención se centra en el edificio mismo.
<br/>
El edificio Town Records es una estructura circular grande en el lado oeste del Distrito Coin. Construida como un símbolo de estatus para la ciudad de comerciantes ricos, cualquiera que entre puede ver rápidamente que la enorme biblioteca carece de existencias.
<br/>
Algunas secciones, como las enseñanzas y filosofías del Gran Roble, están razonablemente llenas, pero muchas otras tienen sólo un puñado de libros que ocupan estantes largos y vacíos. Quizás esta fue la razón por la que algunos de tus amigos comerciantes se mostraron tan inflexibles en cuanto a que hicieras un viaje al edificio de Registros de la Ciudad en primer lugar. Grabar las hazañas de tu grupo crea más contenido para llenar estos pasillos vacíos.
<br/>
Con esto en mente, sus pensamientos se dirigen al libro abierto que está justo frente a usted: en el que estaba trabajando el empleado. Hay dos textos sobre el mostrador y parece como si el empleado estuviera transcribiendo la escritura de uno al otro.
<br/>
Sin embargo, si miras más de cerca, notas que los títulos son diferentes. El libro completo se titula "El ascenso de la civilización humana", mientras que el otro se titula "La historia de Gloomhaven, de Dominic Scrim". Intrigado, comienzas a leer lo que estaba escribiendo:
<br/>
En algún momento, hace miles de años, los humanos dejaron de esconderse en cuevas y comenzaron a formar sociedades al aire libre, erigiendo modestas aldeas agrícolas que eventualmente crecieron hasta convertirse en las enormes ciudades en expansión que vemos hoy.
<br/>
Sin embargo, vivir al aire libre nunca fue fácil. Hubo guerras, tanto entre ellos como con otras razas como los Valrath del sur. Más preocupante. Sin embargo, fueron las constantes incursiones de las razas más bárbaras del mundo: las tribus Inox y Vermling que no tenían ningún concepto de paz y sólo querían matar y destruir.
<br/>
Los muros siempre fueron necesarios, al igual que los hombres armados que los custodiaban. Por esta razón, la civilización del hombre creció y se desarrolló bajo un régimen militarista. Aquellos expertos en la guerra ocupaban los puestos más altos de la sociedad y gobernaban desde la perspectiva de mantener a sus protegidos a salvo de ataques externos.
<br/>
Si bien este régimen de fuerza mantuvo viva y funcionando a la raza humana, estancó el crecimiento de otras facetas culturales de la sociedad. Sin embargo, lo que le faltaba a la civilización en cultura lo compensó con una rápida expansión y asentamientos que se extendieron desde el norte a todos los rincones del continente. Esto creó un punto de apoyo fuerte para garantizar que los humanos continuaran prosperando y nunca más tuvieran que volver a esconderse en cuevas.
<br/>
"Es mejor empezar por el principio, ¿eh?" Dominic ahora está frente a usted con una pequeña cantidad de pergamino encuadernado en cuero. "Encontré esto en la parte de atrás; debería funcionar bien para tus propósitos, pero veo que tú también has encontrado algo".
<br/>
Mueve un poco los pies y te entrega el pergamino. "La mayoría de la gente ve Gloomhaven como una parada de caravanas en un lugar apartado", dice en tono acusatorio. "Un mal necesario en medio de un desierto mortal. "Pero no estoy de acuerdo. Amo Gloomhaven y creo que es necesario documentar su historia. Creo que esta ciudad juega un papel mucho más importante en la historia de este continente de lo que nadie cree, y voy a demostrarlo".
<br/>
Dominic muestra una breve sonrisa nerviosa y luego toma los dos libros sobre el mostrador. "Pero aún no está terminado. Ni mucho menos. Vuelve más tarde y tal vez tenga más historia para compartir".
<br/>
DEJA de leer hasta que Gloomhaven haya alcanzado el nivel de prosperidad 3
<br/>
Entras en el edificio de Town Records e inmediatamente te sorprende lo diferente que se ve. Puede que sea solo la iluminación, pero parece haber más libros en los estantes y menos ceño fruncido en el rostro de Dominic. El hombre bajo y barbudo se acerca a ti.
<br/>
"Ah, qué bueno que hayas venido", dice. "Sin duda para registrar las futuras hazañas de tus amigos. Seguramente me burlé de tus motivos cuando entraste aquí por primera vez, pero debo decir que la idea se ha apoderado de mí un poco".
<br/>
Dominic te da una palmada en la espalda y luego deambula detrás del mostrador. "Les guste o no, se están convirtiendo en miembros importantes de esta comunidad. Y estoy seguro de que tengo que agradecerles, al menos de alguna manera, por el mayor número de libros que se alinean en los estantes".
<br/>
Agita los brazos, sus manos apenas visibles debajo de las largas mangas de su bata. "No son buenos libros, claro está, pero son libros de todos modos.
<br/>
"Además", dice con una pequeña sonrisa, "he tenido más tiempo para trabajar en mi propio tomo".
<br/>
Dominic abre la pequeña colección de pergaminos en la que ha estado trabajando y te la pasa. "Todavía estoy concentrado en el panorama general en este momento, pero debería tener más pronto. Pensé que podría interesarte echarle un vistazo".
<br/>
Aunque la expansión humana no siempre ha sido recibida con amabilidad y civilidad por parte de las otras razas, actualmente los humanos están más o menos en paz con sus vecinos. Después de un costoso tratado de paz con los Valrath del sur y un entendimiento con las prominentes tribus Inox, las únicas amenazas principales son los animales Vermlings que continúan asaltando ciudades humanas, a veces sin razón aparente.
<br/>
La mayoría de los humanos se han mantenido alejados del territorio de los Harrower por miedo, y los Harrowers parecen devolverles el favor. Lo mismo ocurre con los Savvas, que viven bajo tierra en las regiones montañosas del norte, en gran medida inhabitables.
<br/>
Tanto las orquídeas como los cuatrilos provienen de continentes lejanos al otro lado del mar y parecen mucho más interesados ​​en el comercio y el intercambio cultural que en la conquista.
<br/>
Y así, la sociedad humana ciertamente se ha beneficiado culturalmente de su interacción con otras razas. Muchos de los más
<br/>
Las hermosas estructuras de la civilización humana no serían posibles sin la maquinaria de los Quatryls, el dominio elemental de los Savvas y los diseños arquitectónicos de los Valraths. Las Orquídeas meditativas han influido incluso en varias religiones humanas, aunque los seguidores del Gran Roble, un grupo estricto que cree que un árbol gigante ubicado en el centro de la capital vela y protege a todos, permanecen sin cambios.
<br/>
Y si bien el ejército humano mantiene viva la civilización, en realidad es el comercio con las otras razas lo que, en última instancia, permite que la civilización florezca. Parece. luego, a medida que la naturaleza se volvió más dócil, el cambio de paradigma desde un gobierno militarista hacia un gobierno mercantil era sólo cuestión de tiempo.
<br/>
"Como dije, todavía estoy trabajando en aspectos más amplios". Dominic dice: "Pero mi investigación ha proporcionado información interesante. Sin embargo, por el momento todo es muy vago. Necesito encontrar mejores fuentes. No sólo los poemas aulladores de Savva".
<br/>
Retira el libro y frunce el ceño. "Los savvas escriben la peor poesía y es increíblemente difícil de traducir".
<br/>
DEJA de leer hasta que Gloomhaven haya alcanzado el nivel de prosperidad 4
<br/>
Espero que nos entendamos, señor Scrim." Un soldado bien condecorado se encuentra en el centro del edificio de Registros Municipales al entrar. El bibliotecario, Dominic, parece bastante pequeño en comparación, pero no nada intimidado.
<br/>
"Oh, te entiendo perfectamente", dice Dominic, "pero no creo que entiendas mi posición. Estoy tratando de encontrar la verdad".
<br/>
El soldado levanta la vista cuando te acercas y luego vuelve a mirar al hombre barbudo. "Solo piensa en lo que dije". Comienza a hacer gestos a su alrededor mientras camina hacia la puerta. "Odiaría tener que derribar todo este lugar".
<br/>
Dominic te saluda con gravedad. "¡Hola! Me alegro de que hayas pasado por aquí. Quién sabe qué clase de medidas miopes y vulgares habría hecho ese matón para hacer entender su punto de vista".
<br/>
Sacude la cabeza y luego se esponja la barba. "Sin embargo, es sólo una diferencia de opinión. En mi investigación, aparentemente le hice las preguntas equivocadas a las personas equivocadas. Es sorprendente cuán reaccionarias y tontas pueden llegar a ser las personas con respecto a lo que está escrito en un trozo de pergamino.
<br/>
"No es como si alguien fuera a leer siquiera este pequeño texto mío". Dominic tose. "Um, bueno, excepto tú, por supuesto. ¿Es por eso que has venido? He terminado la historia general si quieres echarle un vistazo".
<br/>
A medida que la civilización humana se expandía por el continente, se produjeron dos cambios importantes. La primera fue que los comerciantes alcanzaron posiciones prominentes dentro de las ciudades debido a la riqueza obtenida de las lucrativas rutas comerciales tanto dentro de la civilización humana como con otras razas. El segundo cambio fue que las tierras salvajes, que alguna vez fueron tan peligrosas, se volvieron mucho menos peligrosas, especialmente en el centro del continente, a medida que las áreas se convirtieron en tierras de cultivo y se hizo la paz con las razas circundantes de una forma u otra.
<br/>
Los militares gravaron fuertemente el comercio en todo el continente y los comerciantes se sintieron cada vez más resentidos a medida que se exigían porciones cada vez mayores de sus ganancias con menos justificación. Los militares no hicieron nada y engordaron con el trabajo de otros.
<br/>
Todo esto llegó a un punto crítico en la capital cuando el líder del gremio de comerciantes. Simon Wainwright, organizó un golpe militar de la ciudad contratando a todo un ejército de mercenarios con el dinero del gremio y tomando el control de la fortaleza de la ciudad. En realidad, se necesitó muy poca fuerza, ya que la guardia de la ciudad estaba superada en número y lamentablemente mal entrenada. El asedio de la fortaleza duró menos de dos días, tiempo insuficiente para que llegaran refuerzos de las ciudades circundantes.
<br/>
Una vez en el poder, el gremio de comerciantes rápidamente se ganó el favor de la ciudadanía con cambios sociales radicales, que permitieron muchas libertades y los liberaron de los fuertes impuestos de los militares. Una vez que los plebeyos estuvieron del lado de los comerciantes, había pocas esperanzas de que los militares recuperaran el control, momento en el que ya no se necesitaba el ejército mercenario y se ofreció a los militares un salario decente para continuar vigilando la ciudad.
<br/>
Después de que se reformó la capital, la Revolución de los Comerciantes se extendió desde allí, derrocando rápidamente el gobierno militarista en todo el continente. En el momento de redactar este documento, sólo una ciudad permanece bajo el gobierno de una presencia militar: Gloomhaven.
<br/>
"A continuación quiero profundizar en el desarrollo de Gloomhaven y este enfrentamiento entre los comerciantes y los militares en la ciudad", comienza Dominic. "Pero, como se puede ver, los militares no están muy contentos con eso". Dominic duda. "En realidad, estaba esperando que todos ustedes pudieran hacerme un favor. Para poder continuar poniendo mi pluma sobre el papel, creo que será mejor que consiga el respaldo de un comerciante poderoso para mantenerme a salvo.
<br/>
"Todos simpatizan con que yo escriba esta historia, por supuesto, pero dudan un poco en apoyar públicamente la empresa. Espero que puedan convencerme un poco. Quizás tenga más suerte con el concejal Greymare. "
<br/>
Escenario desbloqueado: Oozing Grove (Arboleda rezumante) 72 (H-12)
<br/>
DEJA de leer hasta que se haya completado Oozing Grove
<br/>
" ¡Ah, mis queridos clientes! ", Saluda Dominic a la entrada del edificio Town Records. "No puedo agradecerle lo suficiente por obtener el apoyo del Concejal Greymare."
<br/>
Os guía a través de las estanterías a medio llenar a una pequeña habitación en la parte trasera del edificio. "Cuando escuché las buenas noticias, inmediatamente fui a trabajar y continué escribiendo".
<br/>
Dominic se sienta en una mesa grande, su libro está justo frente a él. Con gestos, él te instruye a sentarte también. "Todavía necesita más detalles, más investigación, pero aún estoy orgulloso de mi trabajo anterior. ¿Por qué no echar un vistazo a lo que tengo? "
<br/>
Nada mas, en las cercanías de la costa, ubicado en las aguas tranquilas de del Comerciante Bay Gloomhaven fue fundada como un puerto para buques mercantes que viajaban sobre el mar brumoso, más de trescientos años. Aunque más joven que la mayoría de los asentamientos humanos, la ciudad se expandió rápidamente. La razón era su papel como centro de comercio entre humanos y otras razas.
<br/>
Por lo tanto, Gloomhaven es una parte integral de la economía humana porque es el único punto en la costa este que le permite albergar un gran número de barcos. Que la ciudad todavía está bajo la ley del ejército en pie, causando problemas a los comerciantes de todo el continente. Todas las importaciones y exportaciones están sujetas a impuestos inmensos.
<br/>
Básicamente, Gloomhaven sigue siendo una ciudad muy peligrosa. A medida que otros asentamientos ganaron más y más seguridad con el tiempo, Gloomhaven parecía volverse más inseguro, a pesar de la miríada de esfuerzos para domar el desierto por todas partes. Casi parece que hay una presencia oscura fuera de las murallas que intenta destruir la ciudad y sus habitantes.
<br/>
Por supuesto, no todos comparten esta opinión. Algunos comerciantes creen que el ejército apoya activamente los elementos peligrosos detrás de las paredes. Su objetivo es instigar a las tribus terratenientes a atacar la ciudad, para recordarles a todos que el ejército es necesario para garantizar la supervivencia de Gloomhaven. Puede ser un punto de vista cínico, pero debido a las revoluciones de los comerciantes que están causando la caída de todos los demás gobiernos militaristas en todo el continente, es difícil negar que los militares en Gloomhaven todavía estén en el poder solo porque desde afuera amenaza peligros constantes.
<br/>
Dominic rueda sus manos. "Lo sé. Tal vez esperabas más, pero te aseguro que esto es solo el comienzo.
<br/>
En mi investigación, me he encontrado con algunas fuentes que señalan que la Guerra de los Demonios, esa guerra entre los humanos y los Valrath en el Sur que tuvo lugar hace cientos de años, fue una de las razones clave por las que se fundó Gloomhaven. Sin embargo, realmente no tiene sentido para mí ".
<br/>
Dominic comienza a acariciar su barba. "Quiero decir, esta guerra fue larga y pasó antes de que Gloomhaven incluso comenzara a existir, así que no veo la conexión. Pero tengo que encontrarla.
<br/>
Hay mucho más que eso, y la guerra de los demonios debe ser la clave. He solicitado algunos libros de las bibliotecas del sur de Valrath, que espero arrojen algo de luz sobre el tema. Por el momento no tenemos el capital necesario para transportarla aquí. Apenas tenemos el capital para ser honestos. "
<br/>
Dominic se levanta de la mesa y te trae de vuelta a la puerta. "Solo mantente al día con lo que estás haciendo y estoy seguro de que un poco de dinero finalmente encontrará su camino para mí".
<br/>
Añade El evento de ciudad 80 al mazo.
<br/>
STOP – deja de leer, hasta llevar la Prosperidad de Gloomhaven a Nivel 5
<br/>
Dominic se apresura a salir de detrás del mostrador al ingresar al edificio Town Records y te saluda: "¡Solo los mercenarios que quería ver! Tengo algo que necesito mostrarte ".
<br/>
Después de un enérgico apretón de manos, se da vuelta y sugiere que lo sigas mientras se mueve hacia la habitación de atrás. "Las escrituras del continente sur finalmente han llegado y han sido muy útiles. Pintan una imagen mucho más clara de la guerra de los demonios. "
<br/>
Dominic abre la puerta de atrás y te instruye con sus gestos para sentarse frente al libro abierto. "Quiero que leas la última entrada. Entonces tenemos más de lo que podemos hablar. "
<br/>
Incluyendo los primeros años de la expansión humana, fue inevitable que los militares en conflicto con la nación floreciente en el sur de la guerra Valraths. Ambas razas buscaron saciar su sed de poder hasta que estuvo en las praderas de Stormbrew entraron en crisis. Ambas naciones reivindicaron la propiedad del área, y las pequeñas escaramuzas entre los asentamientos rápidamente se convirtieron en una guerra total.
<br/>
La lucha se prolongó durante seis años. Ambas civilizaciones centraron su atención en estas llanuras empapadas de sangre. Ambas razas eran igualmente obstinadas, obstinadas y llenas de rabia insaciable.
<br/>
En los seis años de la guerra, ambos lados tuvieron que pagar fuertes tributos. Después de que todos los recursos habían ido a la guerra, ambos fueron víctimas de diversas amenazas, tanto internas como externas: el hambre, la enfermedad y el crimen eran desenfrenados. Pronto serían aplastados y aplastados por el peso del conflicto.
<br/>
Y así sucedió que justo antes de lo que se debe a la historia como uno de los mayores y más costosas batallas entre los dos generales de la historia, apareció un Aesther entre los dos ejércitos y les ofreció un camino de paz. Este Aesther fue el primero de su clase que las dos razas vieron, y mientras explicaba su oferta, ambos comandantes eran extremadamente escépticos. Al final, sin embargo, acordaron darle una oportunidad al Aesther.
<br/>
Ninguno de los generales confiaba en el otro, y ambos desconfiaban de Aesther. Cuando se les pidió que lo siguieran hacia el este, ambos fueron acompañados por un batallón de soldados. Después de unos días de la marcha, una espesa niebla comenzó a acumularse sobre las llanuras, y pronto los generales fueron de sus soldados separados. Cuando salieron de la niebla, estaban solos; solo los dos generales y el Aesther se encontraban en medio de una gran ruina, una ciudad entera de piedra cubierta de maleza, construida por una civilización largamente olvidada.
<br/>
Mientras estaban parados en medio de las ruinas, los Aesther se volvieron y les contaron una historia a los generales. Les contó acerca de la gran agitación y la verdadera historia de sus dos razas. Cuando terminó su discurso, los dos generales hicieron las paces en el acto.
<br/>
Los Valrath renunciaron a su naturaleza ágil y expansionista y las dos razas trabajaron juntas para construir una civilización basada en la fuerza y el comercio. La historia de la agitación se transmitió oralmente y pasó de líder a líder. Muchas generaciones después de que se había cerrado la paz, los descendientes de los dos generales comenzaron a construir una ciudad que debería considerarse un monumento al acuerdo. Una ciudad construida en el lugar exacto donde el Aesther contó su historia. La ciudad de Gloomhaven.
<br/>
Cuando vuelves a mirar el libro, ves a Dominic mirando atentamente. Una sonrisa crece en su rostro.
<br/>
"¿Bien?", Dice. "Seguramente tienes las mismas preguntas que yo. Quiero decir, antes que nada, ¿qué fue esta agitación? "
<br/>
Empieza a vagar por la habitación, tropezando con su túnica varias veces. "¿Fue una especie de desastre? ¿Qué podría haber dicho el Aesther para detener toda una guerra? ¿Y Gloomhaven fue construido en una ciudad anterior? Somos conscientes de las ruinas entre nosotros, pero siempre pensé que se trataba de un asentamiento temprano destruido por los saqueadores. Pero las ruinas pueden remontarse a un tiempo anterior a la humanidad? ¿Es este trastorno lo que ha destruido la ciudad entonces?
<br/>
Dominic tose y pone su barba en forma. "Hay, bueno, demasiadas preguntas. No puedo continuar sin conocer las respuestas. "
<br/>
" He estudiado todos los escritos de la Biblioteca de Valrath, pero esta historia, que el Aesther ha narrado, no está en nadie. El libro dice que solo se transmitió oralmente, pero eso es difícil de creer. Debe haber registros escritos en alguna parte. "
<br/>
Se da vuelta y se encoge de hombros. "Quizás necesite su ayuda nuevamente en el futuro cercano, pero por ahora necesito hacer más contactos y tratar de obtener más información sobre dónde se pueden encontrar los registros de la gran agitación. Te enviaré si sé más. "
<br/>
STOP – deja de leer, hasta llevar la Prosperidad de Gloomhaven a Nivel 6
<br/>
—Ah, me alegro de ver que recibiste mi nota— Dominic te estrecha la mano y luego permanece visiblemente callado hasta que entráis a la habitación de atrás y la puerta está cerrada y bloqueada.
<br/>
"Creo que tengo la respuesta que estamos buscando", comienza. "Tenía razón. Hay un registro escrito de la historia de Aesther. Aparece en el Códice de Directivas, un libro que sólo debe ser leído por el funcionario de más alto rango de cada región.
<br/>
"Enviaron una copia a Gloomhaven, pero no os preocupéis, no tendréis que asaltar la Fortaleza Fantasma para conseguirla, porque nunca llegó".
<br/>
Dominic os mira fijamente. "Me costó mucho trabajo, pero al final encontré a un guardia en la ciudad que estaba protegiendo la caravana que trajo el libro desde la capital hace muchos años. Al parecer, la caravana fue atacada por un grupo de Inox cerca del extremo sur del Bosque de la Daga".
<br/>
"El guardia fue arrastrado de regreso al campamento de Inox antes de que pudiera escapar y encontrar el camino a Gloomhaven. Curiosamente, nadie fue enviado a buscar el campamento y recuperar los bienes de la caravana. Probablemente no querían provocar más ira por parte de los Inox.
<br/>
"Así que el libro todavía puede estar allí y, gracias a una pequeña donación, el guardia me dijo exactamente dónde se puede encontrar el campamento".
<br/>
Escenario desbloqueado: Cresta de desprendimiento de rocas 73 (N-5)
<br/>
STOP – DEJA de leer hasta que se haya completado Rockslide Ridge.

<br/>
Dominic se acerca a vosotros con actitud hosca cuando entras al edificio de Registros de la Ciudad.
<br/>
"Se siente raro veros después de tan poco tiempo. Obviamente acabáis de entregarme el Códice de Directivas, y normalmente tomaría más tiempo estudiar y transcribir completamente la historia de Aesther, pero... bueno, tenemos un problema importante".
<br/>
Como de costumbre, os dirige a la habitación trasera, pero cuando Dominic abre la puerta, véis una escena de caos y destrucción. La mesa está volcada y hay libros rotos esparcidos por el suelo.
<br/>
—Se llevaron todo —suspira Dominic—. Se llevaron el Códice, se llevaron mi libro... Bárbaros.
<br/>
Ve vuestra mirada confusa y preocupada y continúa: "Se hacían llamar la Vigilia. Dijeron que yo estaba metiendo mano en cosas que no debía. Entraron con armadura completa mientras yo estaba estudiando el Códice minutos después de que te fueras. Dijeron que su misión era mantener a salvo el Códice de Directivas, y luego comenzaron a buscar todas las copias que yo había hecho, y finalmente decidieron robar la historia que Gloomhaven estaba escribiendo".
<br/>
Dominic tira un libro destrozado al suelo. "¡Es indignante! ¿La Vigilia? ¿Quiénes, en nombre del Roble, son la Vigilia? ¡Son unos primitivos! ¡Miren cómo trataron mis libros!"
<br/>
Dominic cierra los ojos y respira profundamente. Finalmente, una pequeña sonrisa se dibuja en su rostro. "Sin embargo, tenemos dos cosas a nuestro favor. Una es que creo que todos estamos increíblemente decididos a recuperar ese libro. Voy a ponerme en contacto con mis contactos, tal vez haga una pequeña investigación. Voy a averiguar quiénes son los Vigil y dónde encontrarlos, y luego os enviaré a matar a todos y cada uno de ellos.
<br/>
—Lo segundo es que tengo una memoria muy aguda. —Dominic saca un trozo de papel arrugado de su túnica—. Leí aproximadamente la mitad de la historia de Aesther antes de que los matones entraran blandiendo sus espadas. Creo que he logrado una transcripción bastante precisa.
<br/>
Esta es la historia contada por Aesther Naaret a los comandantes de la Guerra Demonio:
<br/>
Las ruinas sobre las que ahora se encuentran fueron una vez la capital de una civilización próspera y en expansión. No había Valraths ni humanos, solo una raza que crecía y maduraba en armonía con su entorno.
<br/>
En este lugar, el hombre antiguo tenía muchas aspiraciones nobles. Miraba hacia la gran extensión que había sobre nosotros, contemplando las estrellas, y también miraba las cosas diminutas que componen todo lo que hay en esta tierra. La búsqueda de conocimiento del hombre antiguo era vasta y se extendía demasiado lejos.
<br/>
Con gran intensidad, la mirada del anciano se volvió hacia algo fuera de este mundo, hacia los planos infinitos del ser, que existieron más allá de los suyos. Anhelaba viajar hasta ellos y aprender lo que pudiera de ellos.
<br/>
Y fue debido a este deseo que se creó una grieta entre los mundos y se produjo una gran calamidad. Porque este nuevo plano no albergaba las respuestas a las infinitas preguntas del hombre antiguo, sino solo las criaturas de las pesadillas, demonios empeñados en la ruina de todo lo que apreciaba. A pesar de todo el conocimiento y las herramientas del hombre antiguo, sus ciudades y su gente fueron devastadas sin posibilidad de reparación. Sus muros se convirtieron en escombros y su familia fue destrozada, devorada y conducida a cuevas, donde se acurrucaron en la oscuridad y esperaron a que llegara el fin.
<br/>
Esto se conoce como la gran Agitación...
<br/>
"No es el libro completo", dice Dominic. "Pero es un comienzo. Responde a muchas preguntas, pero tengo muchas más. Os avisaré cuando tenga más información".
<br/>
STOP – DEJA de leer hasta que Gloomhaven haya alcanzado el nivel de prosperidad 7

  </div>
</div>
