<div class="row">
  <div *ngFor="let character of characters" class="col-md-6 col-sm-12 " [style.backgroundImage]="'url(assets/background.png)'">
    <app-player-sheet [character]="character"></app-player-sheet>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12" style="white-space: pre-wrap !important;">
"¿Entonces quieres iniciar algún tipo de registro de todos los mercenarios que han salido de Gloomhaven?" pregunta un hombre bajo y barbudo con el ceño fruncido. "Suena un poco arrogante para mí, pero estoy seguro de que tengo un libro de registro de repuesto en algún lugar de las estanterías".
<br/>
Deja su bolígrafo en el lomo del libro que estaba entintando y sale de detrás del mostrador en el frente del edificio de Town Records. "Regresaré en un momento. ¡No robes nada!"
<br/>
Él frunce el ceño otra vez antes de darse la vuelta y caminar hacia la parte trasera del edificio, casi tropezando con su bata demasiado larga varias veces. Mientras se desliza detrás de uno de los muchos estantes de libros, su atención se centra en el edificio mismo.
<br/>
El edificio Town Records es una estructura circular grande en el lado oeste del Distrito Coin. Construida como un símbolo de estatus para la ciudad de comerciantes ricos, cualquiera que entre puede ver rápidamente que la enorme biblioteca carece de existencias.
<br/>
Algunas secciones, como las enseñanzas y filosofías del Gran Roble, están razonablemente llenas, pero muchas otras tienen sólo un puñado de libros que ocupan estantes largos y vacíos. Quizás esta fue la razón por la que algunos de tus amigos comerciantes se mostraron tan inflexibles en cuanto a que hicieras un viaje al edificio de Registros de la Ciudad en primer lugar. Grabar las hazañas de tu grupo crea más contenido para llenar estos pasillos vacíos.
<br/>
Con esto en mente, sus pensamientos se dirigen al libro abierto que está justo frente a usted: en el que estaba trabajando el empleado. Hay dos textos sobre el mostrador y parece como si el empleado estuviera transcribiendo la escritura de uno al otro.
<br/>
Sin embargo, si miras más de cerca, notas que los títulos son diferentes. El libro completo se titula "El ascenso de la civilización humana", mientras que el otro se titula "La historia de Gloomhaven, de Dominic Scrim". Intrigado, comienzas a leer lo que estaba escribiendo:
<br/>
En algún momento, hace miles de años, los humanos dejaron de esconderse en cuevas y comenzaron a formar sociedades al aire libre, erigiendo modestas aldeas agrícolas que eventualmente crecieron hasta convertirse en las enormes ciudades en expansión que vemos hoy.
<br/>
Sin embargo, vivir al aire libre nunca fue fácil. Hubo guerras, tanto entre ellos como con otras razas como los Valrath del sur. Más preocupante. Sin embargo, fueron las constantes incursiones de las razas más bárbaras del mundo: las tribus Inox y Vermling que no tenían ningún concepto de paz y sólo querían matar y destruir.
<br/>
Los muros siempre fueron necesarios, al igual que los hombres armados que los custodiaban. Por esta razón, la civilización del hombre creció y se desarrolló bajo un régimen militarista. Aquellos expertos en la guerra ocupaban los puestos más altos de la sociedad y gobernaban desde la perspectiva de mantener a sus protegidos a salvo de ataques externos.
<br/>
Si bien este régimen de fuerza mantuvo viva y funcionando a la raza humana, estancó el crecimiento de otras facetas culturales de la sociedad. Sin embargo, lo que le faltaba a la civilización en cultura lo compensó con una rápida expansión y asentamientos que se extendieron desde el norte a todos los rincones del continente. Esto creó un punto de apoyo fuerte para garantizar que los humanos continuaran prosperando y nunca más tuvieran que volver a esconderse en cuevas.
<br/>
"Es mejor empezar por el principio, ¿eh?" Dominic ahora está frente a usted con una pequeña cantidad de pergamino encuadernado en cuero. "Encontré esto en la parte de atrás; debería funcionar bien para tus propósitos, pero veo que tú también has encontrado algo".
<br/>
Mueve un poco los pies y te entrega el pergamino. "La mayoría de la gente ve Gloomhaven como una parada de caravanas en un lugar apartado", dice en tono acusatorio. "Un mal necesario en medio de un desierto mortal. "Pero no estoy de acuerdo. Amo Gloomhaven y creo que es necesario documentar su historia. Creo que esta ciudad juega un papel mucho más importante en la historia de este continente de lo que nadie cree, y voy a demostrarlo".
<br/>
Dominic muestra una breve sonrisa nerviosa y luego toma los dos libros sobre el mostrador. "Pero aún no está terminado. Ni mucho menos. Vuelve más tarde y tal vez tenga más historia para compartir".
<br/>
DEJA de leer hasta que Gloomhaven haya alcanzado el nivel de prosperidad 3
<br/>
Entras en el edificio de Town Records e inmediatamente te sorprende lo diferente que se ve. Puede que sea solo la iluminación, pero parece haber más libros en los estantes y menos ceño fruncido en el rostro de Dominic. El hombre bajo y barbudo se acerca a ti.
<br/>
"Ah, qué bueno que hayas venido", dice. "Sin duda para registrar las futuras hazañas de tus amigos. Seguramente me burlé de tus motivos cuando entraste aquí por primera vez, pero debo decir que la idea se ha apoderado de mí un poco".
<br/>
Dominic te da una palmada en la espalda y luego deambula detrás del mostrador. "Les guste o no, se están convirtiendo en miembros importantes de esta comunidad. Y estoy seguro de que tengo que agradecerles, al menos de alguna manera, por el mayor número de libros que se alinean en los estantes".
<br/>
Agita los brazos, sus manos apenas visibles debajo de las largas mangas de su bata. "No son buenos libros, claro está, pero son libros de todos modos.
<br/>
"Además", dice con una pequeña sonrisa, "he tenido más tiempo para trabajar en mi propio tomo".
<br/>
Dominic abre la pequeña colección de pergaminos en la que ha estado trabajando y te la pasa. "Todavía estoy concentrado en el panorama general en este momento, pero debería tener más pronto. Pensé que podría interesarte echarle un vistazo".
<br/>
Aunque la expansión humana no siempre ha sido recibida con amabilidad y civilidad por parte de las otras razas, actualmente los humanos están más o menos en paz con sus vecinos. Después de un costoso tratado de paz con los Valrath del sur y un entendimiento con las prominentes tribus Inox, las únicas amenazas principales son los animales Vermlings que continúan asaltando ciudades humanas, a veces sin razón aparente.
<br/>
La mayoría de los humanos se han mantenido alejados del territorio de los Harrower por miedo, y los Harrowers parecen devolverles el favor. Lo mismo ocurre con los Savvas, que viven bajo tierra en las regiones montañosas del norte, en gran medida inhabitables.
<br/>
Tanto las orquídeas como los cuatrilos provienen de continentes lejanos al otro lado del mar y parecen mucho más interesados ​​en el comercio y el intercambio cultural que en la conquista.
<br/>
Y así, la sociedad humana ciertamente se ha beneficiado culturalmente de su interacción con otras razas. Muchos de los más
<br/>
Las hermosas estructuras de la civilización humana no serían posibles sin la maquinaria de los Quatryls, el dominio elemental de los Savvas y los diseños arquitectónicos de los Valraths. Las Orquídeas meditativas han influido incluso en varias religiones humanas, aunque los seguidores del Gran Roble, un grupo estricto que cree que un árbol gigante ubicado en el centro de la capital vela y protege a todos, permanecen sin cambios.
<br/>
Y si bien el ejército humano mantiene viva la civilización, en realidad es el comercio con las otras razas lo que, en última instancia, permite que la civilización florezca. Parece. luego, a medida que la naturaleza se volvió más dócil, el cambio de paradigma desde un gobierno militarista hacia un gobierno mercantil era sólo cuestión de tiempo.
<br/>
"Como dije, todavía estoy trabajando en aspectos más amplios". Dominic dice: "Pero mi investigación ha proporcionado información interesante. Sin embargo, por el momento todo es muy vago. Necesito encontrar mejores fuentes. No sólo los poemas aulladores de Savva".
<br/>
Retira el libro y frunce el ceño. "Los savvas escriben la peor poesía y es increíblemente difícil de traducir".
<br/>
DEJA de leer hasta que Gloomhaven haya alcanzado el nivel de prosperidad 4
<br/>
Espero que nos entendamos, señor Scrim." Un soldado bien condecorado se encuentra en el centro del edificio de Registros Municipales al entrar. El bibliotecario, Dominic, parece bastante pequeño en comparación, pero no nada intimidado.
<br/>
"Oh, te entiendo perfectamente", dice Dominic, "pero no creo que entiendas mi posición. Estoy tratando de encontrar la verdad".
<br/>
El soldado levanta la vista cuando te acercas y luego vuelve a mirar al hombre barbudo. "Solo piensa en lo que dije". Comienza a hacer gestos a su alrededor mientras camina hacia la puerta. "Odiaría tener que derribar todo este lugar".
<br/>
Dominic te saluda con gravedad. "¡Hola! Me alegro de que hayas pasado por aquí. Quién sabe qué clase de medidas miopes y vulgares habría hecho ese matón para hacer entender su punto de vista".
<br/>
Sacude la cabeza y luego se esponja la barba. "Sin embargo, es sólo una diferencia de opinión. En mi investigación, aparentemente le hice las preguntas equivocadas a las personas equivocadas. Es sorprendente cuán reaccionarias y tontas pueden llegar a ser las personas con respecto a lo que está escrito en un trozo de pergamino.
<br/>
"No es como si alguien fuera a leer siquiera este pequeño texto mío". Dominic tose. "Um, bueno, excepto tú, por supuesto. ¿Es por eso que has venido? He terminado la historia general si quieres echarle un vistazo".
<br/>
A medida que la civilización humana se expandía por el continente, se produjeron dos cambios importantes. La primera fue que los comerciantes alcanzaron posiciones prominentes dentro de las ciudades debido a la riqueza obtenida de las lucrativas rutas comerciales tanto dentro de la civilización humana como con otras razas. El segundo cambio fue que las tierras salvajes, que alguna vez fueron tan peligrosas, se volvieron mucho menos peligrosas, especialmente en el centro del continente, a medida que las áreas se convirtieron en tierras de cultivo y se hizo la paz con las razas circundantes de una forma u otra.
<br/>
Los militares gravaron fuertemente el comercio en todo el continente y los comerciantes se sintieron cada vez más resentidos a medida que se exigían porciones cada vez mayores de sus ganancias con menos justificación. Los militares no hicieron nada y engordaron con el trabajo de otros.
<br/>
Todo esto llegó a un punto crítico en la capital cuando el líder del gremio de comerciantes. Simon Wainwright, organizó un golpe militar de la ciudad contratando a todo un ejército de mercenarios con el dinero del gremio y tomando el control de la fortaleza de la ciudad. En realidad, se necesitó muy poca fuerza, ya que la guardia de la ciudad estaba superada en número y lamentablemente mal entrenada. El asedio de la fortaleza duró menos de dos días, tiempo insuficiente para que llegaran refuerzos de las ciudades circundantes.
<br/>
Una vez en el poder, el gremio de comerciantes rápidamente se ganó el favor de la ciudadanía con cambios sociales radicales, que permitieron muchas libertades y los liberaron de los fuertes impuestos de los militares. Una vez que los plebeyos estuvieron del lado de los comerciantes, había pocas esperanzas de que los militares recuperaran el control, momento en el que ya no se necesitaba el ejército mercenario y se ofreció a los militares un salario decente para continuar vigilando la ciudad.
<br/>
Después de que se reformó la capital, la Revolución de los Comerciantes se extendió desde allí, derrocando rápidamente el gobierno militarista en todo el continente. En el momento de redactar este documento, sólo una ciudad permanece bajo el gobierno de una presencia militar: Gloomhaven.
<br/>
"A continuación quiero profundizar en el desarrollo de Gloomhaven y este enfrentamiento entre los comerciantes y los militares en la ciudad", comienza Dominic. "Pero, como se puede ver, los militares no están muy contentos con eso". Dominic duda. "En realidad, estaba esperando que todos ustedes pudieran hacerme un favor. Para poder continuar poniendo mi pluma sobre el papel, creo que será mejor que consiga el respaldo de un comerciante poderoso para mantenerme a salvo.
<br/>
"Todos simpatizan con que yo escriba esta historia, por supuesto, pero dudan un poco en apoyar públicamente la empresa. Espero que puedan convencerme un poco. Quizás tenga más suerte con el concejal Greymare. "
<br/>
Escenario desbloqueado: Oozing Grove (Arboleda rezumante) 72 (H-12)
<br/>
DEJA de leer hasta que se haya completado Oozing Grove
  </div>
</div>
