<div id = "play-game" align="center">
  <div id ="play-area" class="row">
      <div class="col-1">
        <app-hp-xp-loot-tracker
          [maxHealth]="maxHealth"
          [health]="health"
          [experience]="experience"
          [loot]="loot"
          [status]="status">
        </app-hp-xp-loot-tracker>
      </div>

      <div class="col-4" id = "chosen-cards-title">
        <div>Chosen Cards</div>
        <div *ngIf="playedCards.length === 0">
            <img id = "chosen-card-1" class="card-in-play" [src]="srcImageBackCard"/>
            <img id = "chosen-card-2" class="card-in-play" [src]="srcImageBackCard"/>
        </div>
        <div *ngIf="playedCards.length > 0">
          <img class="card-in-play" [src]="playedCards[0].src" (click)="onPlayedCardClick(playedCards[0])" [class.add-border]="playedCards[0].selected"/>
          <img *ngIf="playedCards[1]" class="card-in-play" [src]="playedCards[1].src" (click)="onPlayedCardClick(playedCards[1])" [class.add-border]="playedCards[1].selected"/>
          <br/>
          <button id="discard-button" class = "button" type="button" (click)="onDiscardPlayedCardClick()" [disabled]="playedCardsSelectedCount!==1" title = "Must Have a Card In Play Selected">Discard Card</button>
          <button id="lose-button" class = "button" type="button" (click)="onLosePlayedCardClick()" [disabled]="playedCardsSelectedCount!==1" title = "Must Have a Card In Play Selected">Lose Card</button>
          <button id="activate-button" class = "button" type="button" (click)="onActivatePlayedCardClick()" [disabled]="playedCardsSelectedCount!==1" title = "Must Have a Card In Play Selected">Move Card to Active</button>
        </div>
        <app-attack-modifier-deck></app-attack-modifier-deck>
      </div>

      <div class="col-5">
        <div>Active Cards</div>
        <div>
            <span *ngFor="let card of activeCards" style="float: right">
              <img class = "active-card flipped" [src]="card.src" [class.add-border]="card.selected"/>
              <div>
                <button type = "button">1</button>
                <button type = "button">2</button>
                <button type = "button">3</button>
                <button type = "button">4</button>
                <button type = "button">5</button>
                <button type = "button">6</button>
              </div>
            </span>
        </div>
        <div>
          <button id = "discard-active-card" class = "button tooltip"type="button" title = "Must Have an Active Card Selected">Discard Active Card</button>
          <button id = "lose-active-card"class = "button tooltip" type = "button" title = "Must Have an Active Card Selected">Lose Active Card</button>
          <button id = "create-active-tracker" class = "button tooltip" type = "button" title = "Must Have an Active Card Without a Tracker Selected">Create Card Tracker</button>
          <p id = "tracker-size" style ="font-size:18px; font-family: 'Palatino Linotype'; color:white;">Tracker Size: {{cardTrackerSize}}</p>
          <button class="button" type="button" (click)="cardTrackerSize = cardTrackerSize - 1" [disabled]="cardTrackerSize <= 1">-</button>
          <button class="button" type="button" (click)="cardTrackerSize = cardTrackerSize + 1" [disabled]="cardTrackerSize >= 6">+</button>
        </div>
      </div>
      <div class="col-2">
        <app-items-tracker [items]="player.ownedItems"></app-items-tracker>
      </div>
  </div>

  <div class="row">
    <div align="center" class="col-12">Hand Cards</div>
    <div align="center" class="col-12">
      <div id = "hand-cards">
        <div class="row">
          <div class="col" *ngFor="let card of handCards">
            <img [src]="card.src" (click)="onHandCardClick(card)" class="chooseCards" [class.add-border]="card.selected"/>
          </div>
        </div>
      </div>
    </div>
    <div align="center" class="col-12">
      <button id = "play-cards-button" (click)="onPlayCardsButton()" class="button visible" type="button" title="Must Select 2 Cards, Not Have Any Cards In Play, And Not Be Resting">Play Cards</button>
      <button id = "lose-hand-card" class="button visible" type = "button" title="Must Have One Card Selected">Lose Card To Avoid Damage</button>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
        <div>Discarded Cards</div>

        <span *ngFor="let card of discardedCards" class="col-1">
          <img class="discarded" [src]="card.src" [class.add-border]="card.selected"/>
        </span>

        <div class="col-12">
          <button id = "short-rest-button" class = "button"type="button" title = "Must Have At Least 2 Discarded Cards And No Cards in Play">Short Rest</button>
          <button id = "long-rest-button" class = "button"type="button"title = "Must Have At Least 2 Discarded Cards And No Cards in Play">Long Rest</button>
          <button id = "recover-discard-button"class = "button" type="button"title="Must Have A Discarded Card Selected">Recover Discarded Card</button><br/>
          <button id = "lose-discard-button" class = "button"type = "button" title="Must Be Resting">Lose Card From Rest</button>
          <button id = "reroll-random-card-button" class = "button"type = "button" title = "Can Only Be Used Once Per Short Rest">Reroll Lost Card</button>
          <button id = "lose-discard-button2" class = "button not-without-more-selected"type = "button" title="Must Have A Discarded Card Selected - Must Lose 2 to Avoid Damage">Lose Card To Avoid Damage</button>
        </div>
    </div>


    <div class="col-4">
      <div>Lost Cards</div>

      <span *ngFor="let card of lostCards" class="col-1">
        <img class= "lost" [src]="card.src" [class.add-border]="card.selected"/>
      </span>

      <button id = "recover-lost" class = "button"type="button" title = "Must Have a Lost Card Selected">Recover Lost Card</button>
    </div>
  </div>

  <div>
    <td id ="status-effects" align ="center">Status Effects<br/>
    <img *ngIf="status.poisoned" class="status" src = "./assets/poisoned.png"/>
    <img *ngIf="status.wounded" class="status" src = "./assets/wounded.png"/>
    <img *ngIf="status.immobilized" class="status" src = "./assets/immobilized.png"/>
    <img *ngIf="status.disarmed" class="status" src = "./assets/disarmed.png"/>
    <img *ngIf="status.stunned" class="status" src = "./assets/stunned.png"/>
    <img *ngIf="status.muddled" class="status" src = "./assets/muddled.png"/>
    <img *ngIf="status.invisible" class="status" src = "./assets/invisible.png"/>
    <img *ngIf="status.strengthened" class="status" src = "./assets/Strengthen.png"/>
    <br/>
    <button (click)="status.poisoned = !status.poisoned" type = "button">Toggle Poisoned</button>
    <button (click)="status.wounded = !status.wounded" type = "button">Toggle Wounded</button>
    <button (click)="status.immobilized = !status.immobilized" type = "button">Toggle Immobilized</button>
    <button (click)="status.disarmed = !status.disarmed" type = "button">Toggle Disarmed</button>
    <button (click)="status.stunned = !status.stunned" type = "button">Toggle Stunned</button>
    <button (click)="status.muddled = !status.muddled" type = "button">Toggle Muddled</button>
    <button (click)="status.invisible = !status.invisible" type = "button">Toggle Invisible</button>
    <button (click)="status.strengthened = !status.strengthened" type = "button">Toggle Strengthened</button>
  </div>

</div>


