<div id = "play-game" align="center">
  <div id ="play-area" class="row">
      <div class="col-1">
        <button id="exit-button" (click)="onExitButtonClick()" class="btn btn-danger btn-block" title="Exit & Change Player">
          <svg class="bi bi-house-door-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
          </svg>
        </button>
        <app-hp-xp-loot-tracker
          [maxHealth]="maxHealth"
          [health]="health"
          [experience]="experience"
          [loot]="loot"
          [status]="status">
        </app-hp-xp-loot-tracker>
      </div>

      <div class="col-4" id = "chosen-cards-title">
        <div>Chosen Cards</div>
        <div *ngIf="playedCards.length === 0">
            <img id = "chosen-card-1" class="card-in-play" [src]="srcImageBackCard"/>
            <img id = "chosen-card-2" class="card-in-play" [src]="srcImageBackCard"/>
        </div>
        <div *ngIf="playedCards.length > 0">
          <img class="card-in-play" [src]="playedCards[0].src" (click)="onPlayedCardClick(playedCards[0])" [class.add-border]="playedCards[0].selected"/>
          <img *ngIf="playedCards[1]" class="card-in-play" [src]="playedCards[1].src" (click)="onPlayedCardClick(playedCards[1])" [class.add-border]="playedCards[1].selected"/>
          <br/>
          <button id="discard-button" class = "button" type="button" (click)="onDiscardPlayedCardClick()" [disabled]="playedCardsSelectedCount!==1" title = "Must Have a Card In Play Selected">Discard Card</button>
          <button id="lose-button" class = "button" type="button" (click)="onLosePlayedCardClick()" [disabled]="playedCardsSelectedCount!==1" title = "Must Have a Card In Play Selected">Lose Card</button>
          <button id="activate-button" class = "button" type="button" (click)="onActivatePlayedCardClick()" [disabled]="playedCardsSelectedCount!==1" title = "Must Have a Card In Play Selected">Move Card to Active</button>
        </div>
        <app-attack-modifier-deck [modifierDeck]="attackModifierDeck"></app-attack-modifier-deck>
      </div>

      <div class="col-5">
        <div>Active Cards</div>
        <div>
            <span *ngFor="let card of activeCards" style="float: right">
              <img class = "active-card flipped" [src]="card.src" (click)="onActiveCardClick(card)" [class.add-border]="card.selected"/>
              <div>
                <button appMutable type="button">1</button>
                <button appMutable type="button">2</button>
                <button appMutable type="button">3</button>
                <button appMutable type="button">4</button>
                <button appMutable type="button">5</button>
                <button appMutable type="button">6</button>
              </div>
            </span>
        </div>
        <div>
          <button id="discard-active-card" (click)="onDiscardActiveCardClick()" class="button" type="button" [disabled]="activeCardsSelectedCount !== 1" title="Must Have an Active Card Selected">Discard Active Card</button>
          <button id="lose-active-card" (click)="onLoseActiveCardClick()" class="button" type="button" [disabled]="activeCardsSelectedCount !== 1" title="Must Have an Active Card Selected">Lose Active Card</button>
        </div>
      </div>
      <div class="col-2">
        <app-items-tracker [itemNumbers]="character.ownedItems"></app-items-tracker>
      </div>
  </div>

  <div class="row">
    <div align="center" class="col-12">Hand Cards</div>
    <div align="center" class="col-12">
      <div id = "hand-cards">
        <div class="row">
          <div class="col" *ngFor="let card of handCards">
            <img [src]="card.src" (click)="onHandCardClick(card)" class="chooseCards" [class.add-border]="card.selected"/>
          </div>
        </div>
      </div>
    </div>
    <div align="center" class="col-12">
      <button id = "play-cards-button" (click)="onPlayCardsButton()" class="button visible" type="button" [disabled]="handCardsSelectedCount !== 2 || playedCards.length > 0" title="Must Select 2 Cards, Not Have Any Cards In Play, And Not Be Resting">Play Cards</button>
      <button id = "lose-hand-card" (click)="onLoseHandCardButton()" class="button visible" type = "button" [disabled]="handCardsSelectedCount !== 1" title="Must Have One Card Selected">Lose Card To Avoid Damage</button>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
        <div>Discarded Cards</div>

        <div *ngIf="longResting" class="text-danger">Choose one card to loose. Then add 2 health points and recover spent items.</div>
        <div *ngIf="shortResting" class="text-danger">Confirm card to loose or loose 1 health point to Reroll (only once).</div>

        <span *ngFor="let card of discardedCards" class="col-1">
          <img class="discarded" [src]="card.src" (click)="onDiscardedCardClick(card)" [class.add-border]="card.selected"/>
        </span>

        <div class="col-12">
          <button id="short-rest-button" (click)="onShortRestButton()" class="button" type="button" [disabled]="discardedCards.length < 2 || discardedCardsSelectedCount > 0 || playedCards.length > 0" title = "Must Have At Least 2 Discarded Cards And No Cards in Play">Short Rest</button>
          <button id="long-rest-button" (click)="onLongRestButton()" class = "button" type="button" [disabled]="discardedCards.length < 2 || discardedCardsSelectedCount > 0 || playedCards.length > 0" title="Must Have At Least 2 Discarded Cards And No Cards in Play">Long Rest</button>
          <button id="recover-discard-button" (click)="onRecoverDiscardedCardButton()" class="button" type="button" [disabled]="discardedCardsSelectedCount !== 1" title="Must Have A Discarded Card Selected">Recover Discarded Card</button><br/>
          <button id="lose-discard-button" (click)="onLoseDiscardedCardFromRestButton()" class="button" type = "button" [disabled]="!(shortResting || longResting)" title="Must Be Resting">Lose Card From Rest</button>
          <button id="reroll-random-card-button" (click)="onRerollRandomCardButton()" class="button" type = "button" [disabled]="!shortResting || shortRestRerolls > 0 || health < 2" title = "Can Only Be Used Once Per Short Rest">Reroll Lost Card</button>
          <button id="lose-discard-button2" (click)="onLoseDiscardedCardButton()" class="button" type="button" [disabled]="discardedCardsSelectedCount !== 2" title="Must Select 2 Cards">Lose Card To Avoid Damage</button>
        </div>
    </div>


    <div class="col-4">
      <div>Lost Cards</div>

      <span *ngFor="let card of lostCards" class="col-1">
        <img class= "lost" [src]="card.src" (click)="onLostCardClick(card)" [class.add-border]="card.selected"/>
      </span>

      <button id="recover-lost" (click)="onRecoverLostCardButton()" class="button" type="button" [disabled]="lostCardsSelectedCount !== 1" title="Must Have a Lost Card Selected">Recover Lost Card</button>
    </div>
  </div>

</div>


