<div id = "initial-table" class = "cardSet">
  <h2 id ="choose-cards-number" class = "header">Choose {{ character.handCardSize }} cards</h2>
  <div align="center">
    <p id = "card-counter" align="center">{{ cardCount }} / {{ character.handCardSize }}</p>
  </div>

  <div id = "confirm-buttons" align = "center">
    <button [disabled]="cardCount !== character.handCardSize " (click)="onConfirmHand()" class = "button"type="button" title="Must Have a Full Hand">Confirm Hand</button>
  </div>

  <div class="row">
    <div class="col" *ngFor="let card of cardsList">
      <img [src]="card.src" (click)="onCardClick(card)" class="chooseCards" [class.add-border]="card.selected"/>
    </div>
  </div>
</div>
