* {
  margin: 0;
  padding: 0;
}

#board {
  padding-top: 100px;
  display: block;
  /* display: flex;
  flex-wrap: wrap; */
  width: 100%;
  margin: 0 auto;
  /*overflow: visible;*/
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
}


#hexGrid {
  display: block;
  /* display: flex;
  flex-wrap: wrap; */
  width: 90%;
  margin: 0 auto;
  /*overflow: visible;*/
  /* font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none; */
  /*transform: perspective(1200px) rotateX(65deg) rotateY(0deg) rotateZ(0deg);*/
}

.hex {
  float: left;
  /* flex-wrap: nowrap; */
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}

.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex .info {
  width: 100%;
  margin: 0 auto;
  height: 15px;
  margin-top: 50%;
  box-sizing:border-box;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}

.hex .player .info {
  font-size: larger;
  color: white;
}

.hex .enemy .info {
  color: white;
}

.hex .enemy.elite .info {
  color: yellow;
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1em;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}

.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}

/*** HOVER EFFECT  **********************************************************************/
.enemy:hover h1, .enemy:focus h1,
.enemy:hover p, .enemy:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}



/* .hex .content {
  display: block;
  position: absolute;
  top: 0;
  left: -80px;
  text-align: center;
  width: 200px;
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.3s ease-out 0.1s;
  -o-transition: all 0.3s ease-out 0.1s;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 0.1s;
  -webkit-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s;
  -ms-transform: rotateX(-90deg) translateZ(-40px) translateY(-40px);
  -webkit-transform: rotateX(-90deg) translateZ(-40px) translateY(-40px);
  transform: rotateX(-90deg) translateZ(-40px) translateY(-40px);
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
}

.hex .content strong {
  display: block;
  font: 600 26px/1.1 verdana, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8);
}

.hex .content small {
  display: block;
  font: 15px/1.1 verdana, sans-serif;
} */

/* .tooltip {
  display: block;
  position: absolute;
  width: 300px;
  height: 200px;
  border: 3px solid red;
  visibility: visible;
  z-index: 10;
}

.tooltip strong {
  display: block;
  font: 600 26px/1.1 verdana, sans-serif;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8);
}

.tooltip small {
  display: block;
  font: 15px/1.1 verdana, sans-serif;
} */

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
#hexGrid{
  padding-bottom: 3.9%
}
.hex {
  width: 5%; /* = 100 / 20  => Filas de 20 - 19 - 20 - 19 - 20 - 19... */
}
.hex.odd:nth-child(1) { /* primer hexágono de las filas pares  */
  margin-left:2.5%; /* = width of .hex / 2  to indent even rows */
}
