<div id ="attack-modifier-deck" align = "center">
  <h3 id ="mustShuffle" [class.invisible]="!mustShuffle" style = "color: red">Must Shuffle At End of Turn</h3>
  <h3 id ="cardsInDeck" style = "color: white">Cards in Deck: {{ modifierDeck.length }}</h3>
  <h6 id ="blessesInDeck" style = "color: white">Extra Blesses in Deck: {{ extraBlesses }}</h6>
  <h6 id ="cursesInDeck" style = "color: white">Extra Curses in Deck: {{ extraCurses }}</h6>
  <img *ngIf="modifierDeck.length" id ="amDeck" (click)="drawCard()" class="attack-modifier" src="./assets/amBack.png"/>
  <img *ngIf="playedModifierDeck.length" id = "playedModifiers" class = "attack-modifier" src="assets/{{lastModifier.src}}"/>
  <br/>
  <button id ="shuffleMods" (click)="shuffleClick()" class="button" type="button">Shuffle Modifiers</button><br/>
  <button id ="bless" class = "button" type = "button">Bless</button>
  <button id ="curse" class = "button" type = "button">Curse</button>
  <button id ="add-minus-1" class = "button" type = "button">Add -1 Card</button>
  <button id = "reset-deck" class = "button" type = "button">Reset Modifier Deck</button>
</div>

<div id = "zoomModal">
  <div id ="zoomContent">
    <h2 style ="color:black; text-align: center;">Played Modifiers</h2>
    <span class="close">&times;</span>
    <div id ="used-modifier-cards">
    </div>
  </div>
</div>
