<h1>Gloomhaven by Envelope Openers</h1>

<div>
  <h2>INTRODUCTION</h2>
  <p *ngFor="let paragraph of introductionParagraphs">{{ paragraph }}</p>
</div>

<div *ngFor="let scenario of completedScenarios">
  <h2>{{ scenario.name }}</h2>

  <h3>Introduction</h3>
  <p *ngFor="let paragraph of scenario.introduction">{{ paragraph }}</p>

  <ng-container *ngFor="let milestone of scenario.milestones">
  <h3>({{ milestone.key }})</h3>
  <p *ngFor="let paragraph of milestone.texts">{{ paragraph }}</p>
  </ng-container>


  <h3>Conclusion</h3>
  <p *ngFor="let paragraph of scenario.conclusion" [innerHtml]="paragraph"></p>
</div>

