<h1>Gloomhaven by Envelope Openers</h1>

<p>
Todo el mundo necesita comer.
</p>

<p>
Cualquiera que sea tu razón para venir a Gloomhaven, aquí en el borde del mundo, ese simple hecho nunca va a cambiar. Un mercenario no puede luchar con el estómago vacío.
</p>

<p>
Así que cuando Jekserah, una mujer de Valrath con un manto rojo y joyas de oro suficientes para mantenerte alimentado durante una década, se te acerca en el León Durmiente (Sleeping Lion) y ofrece pagarte diez monedas de oro para localizar a un ladrón y recuperar algunos bienes robados ... Bueno, parece una excusa tan buena como cualquiera para ponerse sobrio y comenzar a pagar tu cuenta.
</p>

<p>
"Este ladrón ha robado algunos documentos importantes", dice la comerciante de piel roja, agitando la colacon agitación. "No me importa lo que le hagas a él. Solo trae lo que es mío ".
</p>

<p>
Basándome en la descripción de Jekserah, fue bastante fácil golpear a algunos matones callejeros y obtener una ubicación de la guarida de los ladrones. No te ganas la vida como mercenario en Gloomhaven sin saber cómo romper algunos cráneos.
</p>

<p>
Entonces tu objetivo es Black Barrow. Suena como un lugar encantador.
</p>

<h2>1 - Black Barrow</h2>

<p>
La colina es bastante fácil de encontrar, un breve trayecto después de pasar por la Puerta del Mercado Nuevo (New Market Gate) y alcanzas a verla sobresaliendo en la linde del Bosque Cadavérico (Coprsewood), como una rata que asoma bajo una alfombra. Cuando te acercas ves un montículo formado por tierra negra. La pequeña entrada, cubierta de vegetación, permite ver un desgastado conjunto de escaleras de piedra que se proyectan hacia la oscuridad.
</p>

<p>
Al descender, agradeces que haya luz emanando desde abajo. Desafortunadamente, la luz está acompañada por el inconfundible hedor de la muerte. Mientras desciendes los últimos escalones te preguntas qué tipo de ladrones harían su campamento en este lugar horrible. Y encuentras tu respuesta - un grupo de asesinos que no parecen haber tomado muy amablemente tu repentina aparición. En la parte posterior, uno de ellos coincide con la descripción de tu presa. 
</p>

<p>
"Ocúpense de estos desafortunados" dice, retrocediendo fuera de la habitación.
Vagamente, puedes distinguir su silueta retrocediendo a través del pasillo y luego
atravesando una puerta a la izquierda.
</p>

<p>
"Bueno, no todos los días recibimos gente lo suficientemente estúpida que nos venga a
entregar en mano sus objetos de valor", sonríe uno de los bandidos más grandes, mientras desenvaina una hoja oxidada. “Ahora los mataremos.” Se llevarán unasorpresa. Si tuvieras algún objeto de valor, probablemente no estarías aquí abajo.
</p>

<h3>(1)</h3>

<p>
Al patear la puerta, te encuentras cara a cara con la razón por la que estos bandidos
eligieron este agujero en particular para anidar: Huesos vivientes (Living Bones) -
abominaciones impías producto del poder necromántico.
</p>

<p>
Tendrás que ponerlos a descansar junto con el resto de esta problemática chusma.
</p>

<h3>Conclusión</h3>

<p>
Con el último de los bandidos muerto, te tomas un momento para recuperar el
aliento y protegerte de la visión de restos humanos no muertos tratando de
arrancarte la carne. Tu objetivo no está entre los muertos y te estremeces al pensar
en los horrores que te esperan abajo en las catacumbas  <strong>(2-Barrow Lair)</strong>
</p>

<h2>2 - Barrow Lair</h2>

<p>
El hedor de la muerte y la carne podrida se hace más intenso a medida que os alejais de los cadáveres de vuestros enemigos y os adentrais en el subterráneo del tumulo. Guiados por los sonidos de voces amortiguadas, os abris camino a través del laberinto de criptas que termina en una pequeña habitación llena de bandidos de rudas caras, todos con sus arcos tensados.

<p>
Ellos claramente están protegiendo algo. Debes estar en el lugar correcto.
</p>

<h3>(1)</h3>

<p>
Abrís la puerta a una gran cripta llena de ataúdes. En lo más profundo se encuentra
vuestro objetivo. Se ajusta a la descripción, pero hay algo en sus ojos que no os explicaron, una oscura fuerza de otro mundo.
</p>

<p>
"¿Quién eres tú para pensar que puedes interrumpir el trabajo de Gloom?" Una energía
oscura envuelve sus manos mientras habla. "¡Te mostraré con quién estás tratando!"
</p>

<h3>Conclusión</h3>

<p>
Examinando la carnicería que dejó la batalla, encuentras un alijo en la parte posterior de la habitación que contiene los pergaminos por los que fuiste contratado. No puedes evitar echarles un vistazo, pero descubrís que la escritura es desconocida de un lenguaje arcaico. Sin embargo, reconoces un mapa del norte de la zona. Un saliente en el Río Tranquilo (Still River) está claramente marcado como un punto de interés. Al contemplarlo quieres saber más sobre este llamado "Gloom",  decides que este lugar también podría ser un punto de interés para ti. <strong>(4-Crypt of the Damned)</strong>
</p>

<p>
Pero eso puede esperar por el momento. Recoges los papeles y vuelves a Gloomhaven
para recibir tu recompensa Al encontraros con Jekserah una vez más en el León Durmiente, la entregais los papeles y se os paga la cantidad acordada.
</p>

<p>
"Ya sabeis." ella os susurra suavemente bajo el bullicio de la taberna. "Si estáis interesados, tengo otro trabajo para vosotros. Una tribu de Inox en el Bosque de las Dagas (Dagger Forest) ha saqueado un par de mis caravanas que sedirigian a la capital." "Se lo dije a la milicia, pero no hacen nada". ella
escupe "Puedo señalaros la dirección de su campamento. Así podéis darles su merecido, os pagaré aún más". <strong>(3-Inox Encampment)</strong>
</p>

<p>
Ella coloca un mapa del bosque sobre la mesa y se pone de pie, sus joyas tintinean con el movimiento. "Venir a buscarme cuando estéis listos".
</p>

<h2>3 - Inox Encampment</h2>

<p>
¿Entonces este comerciante quiere dar un escarmiento con algunos saqueadores de
caravanas? Parece lo suficientemente razonable. Por la cantidad correcta de dinero, casi cualquier cosa puede hacerse razonable.
</p>

<p>
Entras al Bosque de las Dagas (Dagger Forest) y comienzas a buscar el campamento usando el mapa de Jekserah. Está bien escondido, pero siguiendo los signos delineados en el pergamino, se encuentra un denso grupo de cabañas en un pequeño claro del bosque. Todo lo que queda es dirigirse allí y dar ese escarmiento solicitado.
</p>

<h3>(1)</h3>

<p>
Os abrís camino a la cueva posterior del campamento solo para encontraros mediadocena de niños Inox gritando entre llantos. Tenéis poco tiempo para analizar la situación ya que frente a vosotros se encuentran varios arqueros amenazantes. Vuestra única oportunidad es continuar luchando.
</p>

<h3>Conclusión</h3>

<p>
Corriendo hacia el bosque, huyendo del olor a carne quemada, encontráis la oportunidad de observar las consecuencias de vuestros actos. En vuestra cara se refleja el desasosiego de vuestras acciones incluso cuando os encontráis con Jekserah, esta vez en su mansión.
</p>

<p>
Os aproxima un de saco de monedas a vuestras manos mientras frunce el ceño. "Eran ladrones y asesinos", dice ella con la mirada vacía. 
</p>

<p>
"Se merecían lo que les disteis. Y eso es todo lo que diré sobre el asunto. Volviendo a temas más importantes, tengo otra tarea que me gustaría que realizarais; necesito un diamante de tamaño considerable para un cliente, pero soy incapaz de encontrar uno en ninguna parte de la ciudad."
</p>

<p>
"Sin embargo, hay una mina de diamantes abandonada hace mucho tiempo en las montañas del sur del desierto. He escuchado rumores de que ahora está infestada de Vermlings, seguramente con alguien más inteligente y fuerte al mando. Si te las arreglas para entrar y hacerte con el diamante más grande que veas te daré una recompensa considerable." <strong>(9-Diamond Mine)</strong>
</p>

<p>
"Ahora dejadme tranquila". Los dos enormes guardaespaldas Inox de Jekserah dan un paso
hacia adelante obligandoos que abandonéis la mansión. Al salir, mientras asimilais vuestra nueva tarea, escucháis una pequeña voz a vuestra espalda. "Ella no esta buscando solo lucrarse ¿Lo sabéis?"
</p>

<p>
Os dais la vuelta para ver una Quatryl femenina saliendo del callejón justo al lado de la casa de
Jekserah. Va vestida con una armadura de cuero oscuro y tiene un artilugio llamativo lleno de engranajes y cubierto con una pieza de metal cónico conectado a un tubo, emite unos zumbidos peculiares.
</p>

<p>
"Argeise, guardia de la ciudad", dice presentándose. "Lo sé, no parezco una guardia, pero si alguien no es lo que parece ser, es esa Valrath con quien habeis estado tratando. Por supuesto, ella es una comerciante, pero está tramando algo mucho más siniestro.
</p>

<p>
"Ha estado tratando de derrocar a altos cargos militares en Gloomhaven durante todo el
tiempo en el que ha estado aquí y estamos alerta hasta que sepamos sus verdaderas
intenciones.” 
</p>

<p>
"Mirad, podéis ir a hacer su encargo como buenos perritos falderos si lo deseáis, pero si loque queréis en realidad es ayudar a mantener la paz en la ciudad y que no se convierta en una tiranía, tengo una idea diferente; Llegaremos al fondo del asunto, descubriremos sus planes yexpondremos quien realmente es Jekserah.” <strong>(8-Gloomhaven Warehouse)</strong>
</p>

<h2>11 - Gloomhaven Square (A)</h2>

<p>"El plan de Jekserah os perturba, pero
  indudablemente encontráis una cierta lógica.
  Una lógica terrible y retorcida, pero una lógica
  a fin de cuentas. Habéis visto a los guardias en
  el muro. Apenas son capaces de luchar contra
  los Vermlings, y sus impuestos están ahogando
  la ciudad y vuestro propio bolsillo.</p>

<p>Acompañados de un ejército de muertos
  vivientes, los comerciantes podrían llevar a la
  ciudad a una nueva era de prosperidad y
  mantenerla a salvo de amenazas externas.</p>

<p>"Entonces estáis listos para coger el destino de
  esta ciudad, mercenarios?"</p>

<p>Asentís con la cabeza. "Mi ejercito esta listo.
  ¡Marchemos hacia la Fortaleza Fantasma (Ghost
  Fortress)!" Un estruendo se escucha en el
  vestíbulo.</p>

<p>Al investigarlo, os encontráis cara a cara con
  una tropa de soldados de pie sobre los
  cadáveres de los Guardias Inox de Jekserah.</p>

<p>"¡Esto termina ahora!" Argeise os apunta
  con su ballesta." "Intenté advertiros.
  ¿Teneis idea de lo que estáis desatando en
  la ciudad?"</p>

<p>"Es demasiado tarde," escupe Jekserah
  detrás de ti. "¡No podéis detenernos! Mi
  ejercito está disperso por la ciudad.
  Además crece con cada guardia que cae".</p>

<p>Jekserah se gira hacia vosotros. "Dirigios a
  la Fortaleza Fantasma (Ghost Fortress). Si
  el Capitán de la Guardia cae, cualquier
  resistencia a nuestro nuevo orden caerá
  pronto después."</p>

<h3>(1)</h3>

<p>Con los cuerpos de los guardias caídos
  agitándose y levantándose como muertos
  vivientes; golpeáis la puerta de la fortaleza.
  "¡Hoy nos enfrentamos a la oscuridad!"
  Grita el capitán rodeado de soldados.</p>

<p>"¡A mí! ¡No permitiré que la ciudad caiga en
  manos de esta escoria!"</p>

<h3>Conclusión</h3>

<p>"El último de los guardias cae, y una vez
  más veis la transformación a un cadáver
  sin alma. Jekserah entra por la puerta
  detrás de vosotros. "Lo habéis hecho bien,
  mercenarios; habéis conseguido derrotar a estos
  cerdos implacables. Con mis guardaespaldas
  muertos, vosotros seréis mi nueva mano
  derecha, y gobernaremos sobre esta ciudad
  como debería ser. Los últimos restos del
  antiguo imperio finalmente han caído, y
  deberíais estar orgullosos.</p>

<p>Pero todavía hay
  mucho trabajo por hacer. El Gremio de
  Comerciantes está preocupado por la
  disminución de la calidad de nuestros
  suministros de agua.
  Creemos que puede haber alguna fuerza oscura
  trabajando en lo más profundo de las
  alcantarillas, envenenando la ciudad. <strong>(18-Abandoned Sewers)</strong></p>

<p>También he escuchado algunas conversaciones
  a puerta cerrada sobre un Dragón que se posa
  en las Montañas Cuellocobre (Copperneck
  Mountains).</p>

<p>Algunos comerciantes son como niños,
  pero aún así vale la pena investigar los
  informes. Sea lo que sea, podría ser una
  amenaza para la ciudad". <strong>(16-Mountain Pass)</strong></p>
