<h1>Gloomhaven by Envelope Openers</h1>

<p>
Todo el mundo necesita comer.
</p>

<p>
Cualquiera que sea tu razón para venir a Gloomhaven, aquí en el borde del mundo, ese simple hecho nunca va a cambiar. Un mercenario no puede luchar con el estómago vacío.
</p>

<p>
Así que cuando Jekserah, una mujer de Valrath con un manto rojo y joyas de oro suficientes para mantenerte alimentado durante una década, se te acerca en el León Durmiente (Sleeping Lion) y ofrece pagarte diez monedas de oro para localizar a un ladrón y recuperar algunos bienes robados ... Bueno, parece una excusa tan buena como cualquiera para ponerse sobrio y comenzar a pagar tu cuenta.
</p>

<p>
"Este ladrón ha robado algunos documentos importantes", dice la comerciante de piel roja, agitando la colacon agitación. "No me importa lo que le hagas a él. Solo trae lo que es mío ".
</p>

<p>
Basándome en la descripción de Jekserah, fue bastante fácil golpear a algunos matones callejeros y obtener una ubicación de la guarida de los ladrones. No te ganas la vida como mercenario en Gloomhaven sin saber cómo romper algunos cráneos.
</p>

<p>
Entonces tu objetivo es Black Barrow. Suena como un lugar encantador.
</p>

<h2>1 - Black Barrow</h2>

<p>
La colina es bastante fácil de encontrar, un breve trayecto después de pasar por la Puerta del Mercado Nuevo (New Market Gate) y alcanzas a verla sobresaliendo en la linde del Bosque Cadavérico (Coprsewood), como una rata que asoma bajo una alfombra. Cuando te acercas ves un montículo formado por tierra negra. La pequeña entrada, cubierta de vegetación, permite ver un desgastado conjunto de escaleras de piedra que se proyectan hacia la oscuridad.
</p>

<p>
Al descender, agradeces que haya luz emanando desde abajo. Desafortunadamente, la luz está acompañada por el inconfundible hedor de la muerte. Mientras desciendes los últimos escalones te preguntas qué tipo de ladrones harían su campamento en este lugar horrible. Y encuentras tu respuesta - un grupo de asesinos que no parecen haber tomado muy amablemente tu repentina aparición. En la parte posterior, uno de ellos coincide con la descripción de tu presa.
</p>

<p>
"Ocúpense de estos desafortunados" dice, retrocediendo fuera de la habitación.
Vagamente, puedes distinguir su silueta retrocediendo a través del pasillo y luego
atravesando una puerta a la izquierda.
</p>

<p>
"Bueno, no todos los días recibimos gente lo suficientemente estúpida que nos venga a
entregar en mano sus objetos de valor", sonríe uno de los bandidos más grandes, mientras desenvaina una hoja oxidada. “Ahora los mataremos.” Se llevarán unasorpresa. Si tuvieras algún objeto de valor, probablemente no estarías aquí abajo.
</p>

<h3>(1)</h3>

<p>
Al patear la puerta, te encuentras cara a cara con la razón por la que estos bandidos
eligieron este agujero en particular para anidar: Huesos vivientes (Living Bones) -
abominaciones impías producto del poder necromántico.
</p>

<p>
Tendrás que ponerlos a descansar junto con el resto de esta problemática chusma.
</p>

<h3>Conclusión</h3>

<p>
Con el último de los bandidos muerto, te tomas un momento para recuperar el
aliento y protegerte de la visión de restos humanos no muertos tratando de
arrancarte la carne. Tu objetivo no está entre los muertos y te estremeces al pensar
en los horrores que te esperan abajo en las catacumbas  <strong>(2-Barrow Lair)</strong>
</p>

<h2>2 - Barrow Lair</h2>

<p>
El hedor de la muerte y la carne podrida se hace más intenso a medida que os alejais de los cadáveres de vuestros enemigos y os adentrais en el subterráneo del tumulo. Guiados por los sonidos de voces amortiguadas, os abris camino a través del laberinto de criptas que termina en una pequeña habitación llena de bandidos de rudas caras, todos con sus arcos tensados.

<p>
Ellos claramente están protegiendo algo. Debes estar en el lugar correcto.
</p>

<h3>(1)</h3>

<p>
Abrís la puerta a una gran cripta llena de ataúdes. En lo más profundo se encuentra
vuestro objetivo. Se ajusta a la descripción, pero hay algo en sus ojos que no os explicaron, una oscura fuerza de otro mundo.
</p>

<p>
"¿Quién eres tú para pensar que puedes interrumpir el trabajo de Gloom?" Una energía
oscura envuelve sus manos mientras habla. "¡Te mostraré con quién estás tratando!"
</p>

<h3>Conclusión</h3>

<p>
Examinando la carnicería que dejó la batalla, encuentras un alijo en la parte posterior de la habitación que contiene los pergaminos por los que fuiste contratado. No puedes evitar echarles un vistazo, pero descubrís que la escritura es desconocida de un lenguaje arcaico. Sin embargo, reconoces un mapa del norte de la zona. Un saliente en el Río Tranquilo (Still River) está claramente marcado como un punto de interés. Al contemplarlo quieres saber más sobre este llamado "Gloom",  decides que este lugar también podría ser un punto de interés para ti. <strong>(4-Crypt of the Damned)</strong>
</p>

<p>
Pero eso puede esperar por el momento. Recoges los papeles y vuelves a Gloomhaven
para recibir tu recompensa Al encontraros con Jekserah una vez más en el León Durmiente, la entregais los papeles y se os paga la cantidad acordada.
</p>

<p>
"Ya sabeis." ella os susurra suavemente bajo el bullicio de la taberna. "Si estáis interesados, tengo otro trabajo para vosotros. Una tribu de Inox en el Bosque de las Dagas (Dagger Forest) ha saqueado un par de mis caravanas que sedirigian a la capital." "Se lo dije a la milicia, pero no hacen nada". ella
escupe "Puedo señalaros la dirección de su campamento. Así podéis darles su merecido, os pagaré aún más". <strong>(3-Inox Encampment)</strong>
</p>

<p>
Ella coloca un mapa del bosque sobre la mesa y se pone de pie, sus joyas tintinean con el movimiento. "Venir a buscarme cuando estéis listos".
</p>

<h2>3 - Inox Encampment</h2>

<p>
¿Entonces este comerciante quiere dar un escarmiento con algunos saqueadores de
caravanas? Parece lo suficientemente razonable. Por la cantidad correcta de dinero, casi cualquier cosa puede hacerse razonable.
</p>

<p>
Entras al Bosque de las Dagas (Dagger Forest) y comienzas a buscar el campamento usando el mapa de Jekserah. Está bien escondido, pero siguiendo los signos delineados en el pergamino, se encuentra un denso grupo de cabañas en un pequeño claro del bosque. Todo lo que queda es dirigirse allí y dar ese escarmiento solicitado.
</p>

<h3>(1)</h3>

<p>
Os abrís camino a la cueva posterior del campamento solo para encontraros mediadocena de niños Inox gritando entre llantos. Tenéis poco tiempo para analizar la situación ya que frente a vosotros se encuentran varios arqueros amenazantes. Vuestra única oportunidad es continuar luchando.
</p>

<h3>Conclusión</h3>

<p>
Corriendo hacia el bosque, huyendo del olor a carne quemada, encontráis la oportunidad de observar las consecuencias de vuestros actos. En vuestra cara se refleja el desasosiego de vuestras acciones incluso cuando os encontráis con Jekserah, esta vez en su mansión.
</p>

<p>
Os aproxima un de saco de monedas a vuestras manos mientras frunce el ceño. "Eran ladrones y asesinos", dice ella con la mirada vacía.
</p>

<p>
"Se merecían lo que les disteis. Y eso es todo lo que diré sobre el asunto. Volviendo a temas más importantes, tengo otra tarea que me gustaría que realizarais; necesito un diamante de tamaño considerable para un cliente, pero soy incapaz de encontrar uno en ninguna parte de la ciudad."
</p>

<p>
"Sin embargo, hay una mina de diamantes abandonada hace mucho tiempo en las montañas del sur del desierto. He escuchado rumores de que ahora está infestada de Vermlings, seguramente con alguien más inteligente y fuerte al mando. Si te las arreglas para entrar y hacerte con el diamante más grande que veas te daré una recompensa considerable." <strong>(9-Diamond Mine)</strong>
</p>

<p>
"Ahora dejadme tranquila". Los dos enormes guardaespaldas Inox de Jekserah dan un paso
hacia adelante obligandoos que abandonéis la mansión. Al salir, mientras asimilais vuestra nueva tarea, escucháis una pequeña voz a vuestra espalda. "Ella no esta buscando solo lucrarse ¿Lo sabéis?"
</p>

<p>
Os dais la vuelta para ver una Quatryl femenina saliendo del callejón justo al lado de la casa de
Jekserah. Va vestida con una armadura de cuero oscuro y tiene un artilugio llamativo lleno de engranajes y cubierto con una pieza de metal cónico conectado a un tubo, emite unos zumbidos peculiares.
</p>

<p>
"Argeise, guardia de la ciudad", dice presentándose. "Lo sé, no parezco una guardia, pero si alguien no es lo que parece ser, es esa Valrath con quien habeis estado tratando. Por supuesto, ella es una comerciante, pero está tramando algo mucho más siniestro.
</p>

<p>
"Ha estado tratando de derrocar a altos cargos militares en Gloomhaven durante todo el
tiempo en el que ha estado aquí y estamos alerta hasta que sepamos sus verdaderas
intenciones.”
</p>

<p>
"Mirad, podéis ir a hacer su encargo como buenos perritos falderos si lo deseáis, pero si loque queréis en realidad es ayudar a mantener la paz en la ciudad y que no se convierta en una tiranía, tengo una idea diferente; Llegaremos al fondo del asunto, descubriremos sus planes yexpondremos quien realmente es Jekserah.” <strong>(8-Gloomhaven Warehouse)</strong>
</p>

<h2>11 - Gloomhaven Square (A)</h2>

<p>"El plan de Jekserah os perturba, pero
  indudablemente encontráis una cierta lógica.
  Una lógica terrible y retorcida, pero una lógica
  a fin de cuentas. Habéis visto a los guardias en
  el muro. Apenas son capaces de luchar contra
  los Vermlings, y sus impuestos están ahogando
  la ciudad y vuestro propio bolsillo.</p>

<p>Acompañados de un ejército de muertos
  vivientes, los comerciantes podrían llevar a la
  ciudad a una nueva era de prosperidad y
  mantenerla a salvo de amenazas externas.</p>

<p>"Entonces estáis listos para coger el destino de
  esta ciudad, mercenarios?"</p>

<p>Asentís con la cabeza. "Mi ejercito esta listo.
  ¡Marchemos hacia la Fortaleza Fantasma (Ghost
  Fortress)!" Un estruendo se escucha en el
  vestíbulo.</p>

<p>Al investigarlo, os encontráis cara a cara con
  una tropa de soldados de pie sobre los
  cadáveres de los Guardias Inox de Jekserah.</p>

<p>"¡Esto termina ahora!" Argeise os apunta
  con su ballesta." "Intenté advertiros.
  ¿Teneis idea de lo que estáis desatando en
  la ciudad?"</p>

<p>"Es demasiado tarde," escupe Jekserah
  detrás de ti. "¡No podéis detenernos! Mi
  ejercito está disperso por la ciudad.
  Además crece con cada guardia que cae".</p>

<p>Jekserah se gira hacia vosotros. "Dirigios a
  la Fortaleza Fantasma (Ghost Fortress). Si
  el Capitán de la Guardia cae, cualquier
  resistencia a nuestro nuevo orden caerá
  pronto después."</p>

<h3>(1)</h3>

<p>Con los cuerpos de los guardias caídos
  agitándose y levantándose como muertos
  vivientes; golpeáis la puerta de la fortaleza.
  "¡Hoy nos enfrentamos a la oscuridad!"
  Grita el capitán rodeado de soldados.</p>

<p>"¡A mí! ¡No permitiré que la ciudad caiga en
  manos de esta escoria!"</p>

<h3>Conclusión</h3>

<p>"El último de los guardias cae, y una vez
  más veis la transformación a un cadáver
  sin alma. Jekserah entra por la puerta
  detrás de vosotros. "Lo habéis hecho bien,
  mercenarios; habéis conseguido derrotar a estos
  cerdos implacables. Con mis guardaespaldas
  muertos, vosotros seréis mi nueva mano
  derecha, y gobernaremos sobre esta ciudad
  como debería ser. Los últimos restos del
  antiguo imperio finalmente han caído, y
  deberíais estar orgullosos.</p>

<p>Pero todavía hay
  mucho trabajo por hacer. El Gremio de
  Comerciantes está preocupado por la
  disminución de la calidad de nuestros
  suministros de agua.
  Creemos que puede haber alguna fuerza oscura
  trabajando en lo más profundo de las
  alcantarillas, envenenando la ciudad. <strong>(18-Abandoned Sewers)</strong></p>

<p>También he escuchado algunas conversaciones
  a puerta cerrada sobre un Dragón que se posa
  en las Montañas Cuellocobre (Copperneck
  Mountains).</p>

<p>Algunos comerciantes son como niños,
  pero aún así vale la pena investigar los
  informes. Sea lo que sea, podría ser una
  amenaza para la ciudad". <strong>(16-Mountain Pass)</strong></p>

<h2>16 - Mountain Pass</h2>

<p>La gente suele menear la cabeza cuando habláis
de dragones, como si vuestro interlocutor no
pudiera ni siquiera creer lo que está hablando.
Los dragones no existen, dicen, pero hay una
bestia gigante alada que se ha visto al norte,
por lo que partís para ver qué hay de cierto.</p>

<p>Vuestro objetivo es Icecrag (Riscohelado), la
montaña más alta de las Coppernecks
(Cuellocobre). Para llegar allí, no obstante,
debéis atravesar el paso del norte, un corredor
estrecho entre dos gigantescos acantilados de
piedra de los que suelen desprenderse
avalanchas frecuentes, así como otros peligros.</p>

<p>Avanzáis con cautela, vigilando cualquier signo
de emboscada desde las alturas. Esta precaución
es la que os salva de ser aplastados por una
lluvia de piedras que caen por el lateral de uno
de los acantilados. Buscáis cobertura conforme
las piedras golpean el suelo, justo a tiempo para
mirar hacia arriba y ver un grupo de Inox salir
de una cueva en uno de los laterales del paso.</p>

<p>Os han intentado matar con las piedras. No
obstante, vuestra supervivencia los ha motivado
para buscar una forma de eliminaros más
convencional.</p>

<h3>(1)</h3>

<p>Con el paso bloqueado por la avalancha, entráis
en la cueva para enfrentaros a vuestros
agresores. Dentro, vislumbráis una red de
pasadizos que se adentran en la montaña.
Quizás merezca la pena explorarlos una vez
acabéis con vuestros enemigos.</p>

<h3>Conclusión</h3>

<p>¿Qué estaban haciendo juntos esos Inox y
Demonios? ¿Y además tan al norte? Examináis
sus pertenencias, buscando algún indicio de sus
motivos. Todo lo que encontráis es algunos
garabatos que referencian a la "voz".</p>

<p>Observáis la cueva. Debe haber más pistas en
los túneles profundos. Hacia el norte, el Pico
Riscohelado (Icecrag Peak) se yergue
majestuoso en la distancia <strong>(25-Icecrag Ascent)</strong> . Aun así, sentís
que algo os llama a explorar la cueva <strong>(24-Echo Chamber)</strong>
No es audible, pero os reclama con una sutil
aunque poderosa urgencia.</p>

<p>Miráis los garabatos de los Inox. Una "voz".
Sí, algo que os suena familiar. Casi podéis oirla.</p>

<h2>18 - Abandoned Sewers</h2>

<p>Desde el centro del Puente Silencioso, un
  guarda de la ciudad os señala una rejilla que se
  abre en la orilla oeste. "Es la mejor forma de
  entrar en ese agujero inmundo. Buena suerte".</p>

<p>Descendéis por entre los barrotes, que han sido
  doblados y corroídos por el tiempo, alcanzando
  el fondo. Encendéis una antorcha y entráis al
  interior, caminando por un pasillo estrecho
  ligeramente inclinado, evitando el flujo de
  líquido marrón que baja en la dirección
  opuesta. Tras unos pocos minutos, el camino se
  abre en una serie de pasillos ramificados.</p>

<p>Miráis alrededor, decidiendo qué camino coger,
  cuando un sonido sutil resuena en la piedra
  que os rodea. Rápidamente, cogéis vuestras
  armas, justo a tiempo para ver unas figuras
  reptantes que se aproximan.</p>

<h3>(1)</h3>

<p>Navegando por los pasillos, alcanzáis una
  enorme sala abierta con un depósito de agua en
  el centro. Alrededor de la cisterna hay un grupo
  de Vermlings, que detienen su canto con
  vuestra interrupción y gruñen en vuestra
  dirección. Deben ser la causa del agua
  envenenada.</p>

<h3>Conclusión</h3>

<p>Los Vermlings yacen muertos, con su sangre
  negra mezclándose con el agua del suelo. Tras
  una profunda investigación, encontráis que no
  hay ningún veneno en sus cuerpos. ¿Es posible
  que estos Vermlings no fueran la causa, sino
  que simplemente estuvieran viviendo ahí, a
  salvo de las miradas de los guardias? Al fondo
  de la habitación, la grandes grietas en el muro,
  mostrando un pasaje que se abre hacia lo
  desconocido. <strong>(23-Deep Ruins)</strong></p>

<p>Y si tenéis alguna forma de respirar bajo el agua
  <strong>(14-Frozen Hollow)</strong> , <strong>(43-Drake Nest)</strong> , incluso podríais entrar a la cisterna y
  encontrar la fuente del veneno directamente
  <strong>(26-Ancient Cistern)</strong> .</p>

<h2>81 - Temple of the Eclipse</h2>

<p>En vuestro camino a la ubicación indicada por
  el Aesther, nubes oscuras se ciernen sobre
  vosotros. Una ligera llovizna comienza a caer
  cuando os acercáis a un pequeño templo
  escondido en el Bosque de las Dagas.</p>

<p>El edificio parece abandonado, pero una vez
  estáis dentro, quedáis estupefactos por un
  espectáculo fascinante: un cielo crepuscular
  eterno se extiende sobre vosotros. Atrapada
  entre el día y la noche, la habitación está
  iluminada por un extraño resplandor. Sin
  embargo, una rápida inspección por sus
  alrededores indica que no sois bienvenidos.
  Demonios de la luz y las sombras se aproximan.</p>

<h3>(1)</h3>

<p>Finalmente llegando a la entrada del santuario,
  os preparáis para el último desafío. Abrís la
  puerta que da a un lugar atrapado entre la
  oscuridad eterna y la luz cegadora. Dos
  enormes demonios flanquean un Savvas cuyo
  pecho late con luces negras y doradas. Savvas
  normalmente no puede dominar esos
  elementos, pero por la mirada en su cara,
  intuyes que al hacerlo se volvió loco.</p>

<h3>Conclusión</h3>

<p>Con todas tus fuerzas, metes tu arma en el
  pecho del Savvas, destrozando sus entrañas. De
  repente, la luz y la oscuridad antinaturales son
  arrastradas hacia la herida, acumulándose
  dentro de ella antes de estallar en una enorme
  explosión. El cuerpo vacío del Savvas
  cae muerto al suelo.</p>

<p>El crepúsculo a vuestro alrededor vuelve a la
  normalidad cuando recogéis vuestro botín y
  salís del templo. Por última vez, os quedáis
  mirando al techo y os maravilláis ante la
  imposibilidad de este lugar.</p>

  <h2>23 - Deep Ruins</h2>

  <p>Desafiando los oscuros pasadizos debajo de las
    alcantarillas de Gloomhaven, encendéis una antorcha
    en el lugar más profundo, el ladrillo descascarillado da
    paso a piedra intrincada en un estado de extremo
    desgaste.</p>

  <p>Veis un idioma rúnico irreconocible grabado en las
    paredes. Las grietas y trozos de roca impiden leerlo
    incluso para gente que conoce el idioma.</p>

    <p>Después del pasadizo, el camino da a una habitación
      más grande llena de extrañas maquinas en ruinas que
      no puedes entender. Una puerta se ve en la pared
      opuesta, a continuación, un sonido metálico atraviesa la
      habitación, como si alertara de algo. Entonces la
      maquina empieza a moverse y cobra vida; es
      claramente palpable la intención de atacar a los
      intrusos, empezando por ti.</p>

  <h3>(1)</h3>

  <p>Lucháis para haceros paso a través de la
    habitación de la máquina; encontráis pasillos a
    izquierda y derecha. Oís la alarma sonando en
    ambas direcciones. Para apagarla, puede que
    tengáis que dividiros.</p>

  <h3>Conclusión</h3>

  <p>Con la última placa pulsada, la alarma
    finalmente se silencia. Las luces de los cañones
    se apagan y sus armas miran hacia abajo,
    inactivos.</p>

  <p>La máquina se tambalea y cae; los engranajes se
    detienen y paran de rotar. En cuestión de
    segundos, la cámara parece tan vacía como
    antes, dejándoos explorar en paz.</p>

    <p>Ponéis rumbo a un estrecho pasillo; en la parte
      trasera de la habitación izquierda se encuentra
      un pasillo que desciende a una piscina de
      líquido salobre; podéis ver una luz que vaga a
      cierta distancia bajo el agua.</p>

      <p>Un chapuzón rápido os llevara más lejos en este
        mundo subterráneo.<strong>(26-Ancient Cistern)</strong></p>


    <h2>26 - Ancient Cistern</h2>

    <p>El agua se vuelve oscura, negra como un cielo
      nocturno nublado. No puedes ver tus manos
      remar frente a tu cara, pero continúas. En poco
      tiempo, se ve una luz en la distancia. Necesitas
      todas las fuerzas que te quedan, pero
      finalmente la luz se hace más grande y emerges
      de un charco de agua fétida, agradecido de que
      puedas respirar libremente una vez más.</p>

    <p>El alivio, sin embargo, es efímero. La habitación
      está plagada de amenazantes masas verdes de
      cieno y no muertos. Te desplomas en tierra
      firme y tratas de recuperar el aliento,
      preparando tus armas para otra batalla.</p>

    <h3>(1)</h3>

    <p>Siguiendo las señales de corrupción, te diriges a
      la sala final de la cámara, con la esperanza de
      acabar con el resto de tus adversarios
      rápidamente. En cambio, el horror invade tu
      mente al ver la escena que tienes delante.</p>

    <p>Cuatro tuberías verticales se encuentran en la
      parte posterior de la sala; conductos
      transparentes para el bombeo del agua de la
      ciudad. Sin embargo, pegadas a las tuberías hay
      masas negras retorcidas que envenenan el agua
      que corre. Cuando entras, parte de la masa
      negra gotea desde las tuberías y se fusiona en
      forma de pequeñas protuberancias bulbosas con
      bocas llenas de dientes.</p>

    <p>La horda de demonios y muertos vivientes
      tampoco es un espectáculo agradable.</p>

    <h3>Conclusión</h3>

    <p>Para cuando la pelea termina, las paredes y el
      piso son un desastre de cieno negro. Sin
      embargo, nada de ese cieno tiene vida, lo que
      es un paso en la dirección correcta. Una simple
      fregona puede limpiar los restos, ahora que se
      ha eliminado la presencia oscura.
    </p>

    <p>Te acercas a la pared de atrás y con un gesto
      de la mano limpias con perplejidad un poco de
      la mugre. La mayor parte se desprende
      fácilmente, pero sigue habiendo una mancha
      negra calcárea. Curioso, tomas tu manga y
      comienzas a limpiar la pared más
      vigorosamente, revelando rápidamente algún
      tipo de lenguaje rúnico. Limpiando lo suficiente,
      encontrará letras que cubren toda la pared
      posterior.</p>

      <p>Las letras son irreconocibles, pero las anotas y
        regresas a la ciudad, llevando las escrituras a un
        experto en idiomas de la Universidad.</p>

        <p>"Es parte de un ritual", dice un Quatryl con
          gafas, mirando con detalle tus notas. "No estoy
          completamente familiarizado con los detalles,
          pero parece ser un ritual para 'Welspar' ... err,
          corrupto.</p>

          <p>"Creo que tal corrupción requeriría el uso de
            un conductor." El Quatryl parece mirar aún
            más atentamente las escrituras. "Ah, aquí! Algo
            conocido como 'The Artifact', ubicado en el
            Templo de los Elementos. '</p>

            <p>El Quatryl se precipita sobre una biblioteca
              repleta de textos, "¡Ah, interesante! He oído
              hablar de eso antes." Desaparece detrás de una
              gran pila de tomos.</p>

              <p>"¡Sí! El Templo de los Elementos." Su cabeza
                aparece por encima de los libros. "El Templo de
                los Elementos, que se dice que alberga la Vasija
                de los Elementos, un poderoso artefacto
                antiguo capaz de dar forma y poder a los
                residuos elementales que nos rodean.</p>

                <p>"El libro dice que el templo no está muy lejos
                  de aquí, en algún lugar alrededor de la
                  bifurcación en el Río Beso de Serpiente
                  (Serpent's Kiss River). Si quieres encontrar el
                  fondo de esta corrupción, comienza allí". <strong>(22-Temple of the Elements)</strong></p>


<h2>57 - Investigation</h2>

<p>Reunir información sobre la muerte de vuestro
  amigo no fue una tarea fácil, pero vuestra
  implacable investigación finalmente os lleva a
  conocer a cierto teniente corrupto destinado en
  los cuarteles del oeste. Aparentemente es
  conocido por hacer la vista gorda ante ciertos crímenes en el Mercado del
  Hundimiento y estaba de guardia la noche en
  que vuestro amigo fue asesinado. Ahora es el
  momento de derribar algunas puertas, y
  obtener algunas respuestas a partir de
  cualquier medio que se considere necesario.</p>

<h3>(4)</h3>

<p>Interrumpís un ejercicio de entrenamiento para
varios reclutas nuevos. El maestro no está
contento con la interrupción y hace un
llamamiento a sus alumnos para que practiquen
sus habilidades con sus invitados no
bienvenidos.</p>

<h3>(3)</h3>

<p>"¡Alto! ¡Intrusos! ¿Qué estáis haciendo en el
  almacén de provisiones de la guardia de la
  ciudad?" Os dais la vuelta para ver a dos
  guardias salir de una puerta detrás de vosotros.
  Esto no era lo que estábais buscando, pero no
  tenéis tiempo para explicaciones. Ojalá podáis
  despachar a los guardias rápidamente.</p>

<h3>(2)</h3>

<p>Habéis encontrado el cuartel principal, y al
  abrirse la puerta, un presentimiento os invade.
  Reconoceis al teniente de la esquina gritando
  órdenes. "¡Alarma! ¡Intrusos! ¡No dejéis que se
  escapen! ¡Matadlos!" Estáis en el buen camino.
  Llevadlo ante la justicia y buscad pistas en sus
  restos.</p>

<h3>Conclusión</h3>

<p>Buscando entre los restos del Infiltrado,
  encontráis un horario para una reunión fuera
  de la ciudad en una choza remota. Hay notas
  sobre una cosecha de cadáveres. Estáis
  deseando colaros en esta reunión y exigir
  vuestra venganza. <strong>(58-Bloody Shack)</strong> Con el espía revelado, el
  resto de la guardia de la ciudad os da las
  gracias por desenmascararlo.</p>

<h2>58 - Bloody Shack</h2>

<p>Rodeáis la pequeña choza en Hook Coast y
  preparáis vuestras armas. Sin embargo, el
  dueño de este lugar no está totalmente
  desprevenido. Grandes elementales de tierra y
  una patrulla de Harrowers acompañados por
  grotescos diablillos negros vigilan ambas
  entradas. Entráis en acción con la esperanza de
  deshaceros de todos ellos antes de que puedan
  dar la alarma.</p>


<h3>(1)</h3>

<p>Cuando entráis por la puerta principal, veis un
  pedestal de aspecto extraño cubierto de sangre.
  Tiene una daga curvada y dentada que se
  ilumina en rojo. Recordando las heridas de
  vuestro amigo muerto, tenéis una fuerte
  sospecha de que ésta fue el arma que lo
  asesinó. Es hora de devolver el favor a su
  dueño.</p>

<h3>(2)</h3>

<p>Montones de huesos podridos adornados con
  glifos ocultos os reciben cuando entráis en la
  habitación de atrás. En el centro, una figura
  humana maliciosa se sienta en un trono de
  calaveras. Está reuniendo energías
  nigrománticas de las pilas de huesos
  circundantes. "Siento que el deseo de venganza
  brilla intensamente dentro de tu corazón. ¡Me
  daré un banquete con eso!"</p>

<h3>Conclusión</h3>

<p>La sed de sangre es algo extraño. Una vez que
  está saciada, deja tras de sí una persona vacía
  como un caparazón hueco. La daga cae al suelo
  cuando una sensación fría y entumecida se
  extiende a través de ti. El trabajo está hecho, y
  es hora de seguir adelante, por duro que sea.</p>

<h2>14 - Frozen Hollow</h2>

<p>Así que toca buscar a un encantador, allá
  vamos.</p>

<p>Nos informan de una Aesther en el
  Distrito Caldera, con lo que nos dirigimos
  hacia una taberna abandonada y decrépita
  en la zona, el Hueso Torcido. Al acceder nos
  encontramos el interior que esperábamos a
  expensas del exterior: telarañas, taburetes
  astillados y cristal roto y polvoriento.</p>

<p>Tras pasar el umbral, una mujer traslúcida
  aparece repentinamente ante nosotros. - ¿Por
  qué habéis venido, mercenarios? Vuestra
  presencia no es deseada e interrumpís mis
  estudios.</p>

<p>Rápidamente le explicamos nuestros motivos y
  la mujer frunce el ceño aún más. - "Oh, buscad
  a la mujer Aesther. Ella puede cumplir vuestros
  deseos. Le basta con mover las manos y
  vuestros sueños más salvajes se harán realidad."
  - Suspira frustrada y, de hecho, mueve las
  manos. - Dejadme en paz.</p>

<p>No nos movemos. Nos clava su mirada.</p>

<p>- Bueno, en lugar de interrumpir, tal vez seáis
  útiles. Hoy por ti, mañana por mí. Así
  funcionan las cosas, ¿no? - La mujer se gira y se
  dirige hacia unas escaleras destrozadas, pero
  tras unos pasos, se desvanece por completo.</p>

<p>- Necesito un orbe de Hueco Congelado, se
  encuentra en las Montañas de Cuello de Cobre.
  - La voz de la mujer viene desde nuestro
  interior, como si no se hubiera movido. -
  Traédmelo y puede que os ayude.</p>

<p>Un mapa cae a nuestros pies. - Por cierto, mi
  nombre es Hail. No volváis sin el orbe.</p>

<p>El mapa es fácil de seguir. En lo profundo de las
  Montañas de Cuello de Cobre, oculto por
  ventiscas de nieve, encontramos la entrada a
  una cueva oscura y estrecha. Las pisadas de
  lobo en la entrada son un signo de problemas,
  pero con resolución firme, entramos.</p>

<h3>Conclusión</h3>

<p>Tras acabar con el último de los enemigos nos
  acercamos al fondo de la sala, donde una esfera
  azul flota a centímetros del suelo. Lentamente
  acercamos la mano y agarramos el frío orbe,
  tan frío que resulta apenas soportable.
  Rápidamente lo metemos en la mochila y nos
  dirigimos de vuelta al Hueso Torcido.</p>

<p>Entramos en la taberna abandonada y llamamos
  a Hail. No hay respuesta, investigamos,
  revisamos el caótico desastre que nos rodea.
  Cómo será posible que trabaje cómoda en un
  sitio así. Al acercarnos a la barra, Hail aparece
  ante nosotros, con el orbe en la mano.</p>

<p>- Muy interesante. - No parece darse cuenta de
  que estamos ahí. - Una grieta en nuestro plano
  de alguna forma contenida dentro de esta
  barrera esférica. Menos mal que no la
  rompisteis en el viaje. Habríais sido
  transportados a un mundo de puro frío y
  congelados antes de llegar siquiera a respirar.
  O algo peor podría haber sucedido.</p>


<p>- Es tan confuso. ¿Quién tendría el poder para
  hacer esto? - Hail se mueve lateralmente y
  desaparece.</p>

<p>Esperamos por lo que parecen ser horas,
  pasando de sentarnos en los pocos taburetes
  aún enteros. De vez en cuando decimos su
  nombre sin éxito.</p>


<p>- Oh, seguís aquí. - Nos giramos para ver a Hail
  en el centro de la habitación. - Bien, me
  gustaría experimentar con vosotros si os parece
  bien. - Se acerca a nosotros y tropezamos al
  recular, cayendo sobre una vieja mesa que se
  astilla en cientos de trozos.-</p>

<p>Oh, no temáis. Estoy bastante segura de que
  acabará bien.</p>


<p>Hail nos explica que quiere acumular poder
  puro de otro plano y guardarlo en un pequeño
  orbe que daría grandes poderes a quien lo
  tuviera. El proceso de almacenamiento, sin
  embargo, requiere mucho oro.</p>

<p>- Ya que me habéis ayudado en mis estudios,
  supongo que os devolveré el favor, - suspira
  Hail. - Así que, ¿qué es lo que queréis?</p>

<h2>43 - Drake Nest</h2>

<p>"¿Así que pensáis que puedo ayudaros a
  respirar bajo el agua? Sois adorables." dice Hail
  con una mirada exhasperante. "¿Me refiero a
  que quién creéis que soy? ¿Por dónde podría
  empezar?".</p>

<p>Hail se da la vuelta y comienza a caminar.
  "Necesitaréis escamas de dragón, y algo para
  filtrar el aire del agua. Y si además consideráis
  las propiedades del agua por separado...".
  Se aleja y desaparece.</p>

<p>Estáis acostumbrados a este tipo de
  comportamientos por lo que esperáis
  pacientemente. Aparece una hora después.</p>

<p>"Ok, me habéis intrigado. Acepto vuestra
  propuesta. Traedme algunas esacamas de
  dragón, y veremos lo que puedo hacer. Conozco
  un nido de dragones en las montañas
  Cuellocobre (Coppernecks). Os dibujaré un
  mapa."</p>

<p>El mapa no es gran cosa, pero os lleva hasta la
  entrada de una caverna de la cual emana un
  silbido escalofriante. Hail quiere que consigáis
  todas las escamas que podáis, por lo que debéis
  empezar la carnicería.</p>

<h3>Conclusión</h3>

<p>Las oleadas de lagartos rojizos parecen nunca
  acabar, así que consideráis que ya habéis
  recopilado un número significante de cadáveres
  como para empezar la retirada.
  En la entrada de la cueva empezáis a correr,
  huyendo de la horda de dragones que parecen
  poco interesados en seguiros. Allí empieza la
  dura vuelta cargando el botín hasta el Hueso
  Torcido (Crooked Bone).</p>

<p>En cuanto llegáis, Hail os quita en silencio la
  mole sangrienta de escamas. Desaparece durante
  dos horas. Cuando regresa, sostiene un puñado
  de pequeños orbes azules.</p>

<p>"Bien, todo lo que tenéis que hacer es meter esto
  en vuestras gargantas cuando estéis bajo el agua.
  Debería filtrar cuando inhaléis y exhaléis bajo el
  agua."</p>

<p>"Será increíblemente doloroso, y os costará
  sacároslo cuando volváis a tierra firme. No os
  envidio, pero alguien va a tener que hacer el
  trabajo sucio."</p>

<p>Hail sonrie de oreja a oreja. "Estoy muy contenta
  con el resultado. Gracias por proporcionarme
  este interesante desafío. Ahora salid de mi casa."</p>


<h2>55 - Foggy Thicket</h2>

<p>Fue en vuestra última incursión en el bosque de
  las dagas cuando lo visteis - ese inconfundible
  tono púrpura - un pequeño trozo de tela
  rasgado por la rama de un árbol. No es mucho,
  pero es suficiente para vosotros.</p>

<p>Encontrásteis un rastro y lo seguisteis hasta
  que os envolvió una espesa y persistente niebla.
  Perdisteis el rastro, pero decidisteis volver
  pronto, una vez que la niebla se hubiese
  disipado.</p>

<p>Así que aquí estáis, días después, y la espesa
  niebla continua bloqueando vuestro camino.
  Entre tanto, no habéis pensado en nada más,
  excepto en vengaros de los bandidos que
  destruyeron vuestra aldea. La niebla os detuvo
  una vez, pero ahora estáis decididos. No logrará
  deteneros de nuevo.</p>

<p>Os recomponéis y entráis en lo desconocido.</p>

<h3>Conclusión</h3>

<p>La niebla parece estar agotando vuestras
  fuerzas a medida que la atravesáis; cada paso
  que dáis es doloroso. Sin embargo, justo
  cuando pensáis que no podéis llegar más lejos,
  encontráis una caja oculta de suministros
  marcada con el emblema púrpura de vuestra
  presa.</p>

<p>Rápidamente abrís la caja y encontráis un mapa
  detallado de la zona con instrucciones precisas
  para llegar hasta el campamento. Lo guardáis y
  huis hacia los árboles, lejos de la niebla.</p>

<p>Con este mapa, sentís que vuestra búsqueda
  finalmente está llegando a su fin. <strong>(56-Bandit's Wood)</strong></p>

<h2>56 - Bandit's Wood</h2>

<p>Conociendo el camino correcto al campamento
  de los bandidos, seguís los puntos de referencia y
  os abrís camino a través del bosque con
  facilidad. Entráis en un tosco sendero, donde os
  recibe un grupo de bandidos y sus perros.</p>

<p>"Bueno, ¿qué tipo de carne fresca es esta?",
Pregunta uno de ellos, soltando las correas de
los perros. "Acabáis de tomar vuestro último
camino equivocado". Oís gritos en la distancia y
os olvidáis de la amenaza del bandido, no
queriendo perder más tiempo con esta chusma.</p>

<h3>(1)</h3>

<p>Llegáis al campamento bandido situado en un
  gran claro abierto. Al mirar más allá de la
  fuerza formidable de los enemigos que tenéis
  delante, veis a un grupo de Orquídeas
  harapientas a un lado: más víctimas de estos
  monstruos.</p>

<p>Los Orquídeas cautivos advierten vuestra
  llegada y aprovechan la oportunidad para
  escabullirse de sus ataduras y atacar a uno de
  sus captores distraídos. Sonríes, sabiendo que
  tu familia se vengará este día.</p>

<p>Los bandidos miran hacia uno y otro lado entre
  vosotros y los cautivos que escapan presa del
  pánico. Uno de los guardias empuña su espada
  y carga. "¡Matarlos a todos! ¡Nadie escapará!</p>

<h3>Conclusión</h3>

<p>Con el último de los bandidos muerto, uno de
  los cautivos supervivientes se acerca a tu grupo
  y cae de rodillas. "gracias por rescatarnos", dice
  en voz baja. "Saber que mi tribu siempre será
  tu aliada".</p>

<p>Mientras reúne a sus compañeros y se dirige al
  bosque de vuelta a su hogar, analizas la
  carnicería a vuestro alrededor. El grupo de
  bandidos ha sido erradicado y sientes alivio al
  saber que lse ha vengado a tu pueblo. Aquí
  también hay muchos botines para ayudarte a
  comenzar una nueva vida: un primer paso hacia
  un futuro más seguro.</p>

<h2>24 - Echo Chamber</h2>

<p>Entráis en la cueva haciendo caso omiso de la
  voz en vuestras cabezas. Os atrae el peligro,
  podríais caer en una trampa, como un corderito
  desvalido en un juego macabro; con estos
  miedos la Voz os intenta convencer.
  “Todo estará bien, solo continúa descendiendo a
  la oscuridad ”</p>

<p>Contra toda razón continuáis vuestro camino.</p>

<p>Imágenes y pensamientos intermitentes llegan a
  vosotros y la voz intenta explicarse. Ha sido
  atrapada por una poderosa fuerza en las
  profundidades de la tierra. Necesita tu ayuda
  para salir; os preguntáis quien la encarceló y
  por qué pero la voz desaparece en vuestros
  pensamientos.</p>

<p>Y el silencio se hace preocupante; en las
  profundidades de la oscuridad, estás
  irremediablemente perdido, hasta que la voz
  regresa y continúa dirigiéndose a vosotros sin
  respuestas para vuestras preguntas.</p>

<p>La voz muestra imágenes de lugares donde se
  esconden monstruos. Y te da un plan: Si podéis
  conectar todas las habitaciones de su cámara, la
  voz resonará y tomará forma una vez más,
  dándoos la capacidad de ahuyentar a los
  secuestradores.</p>

<p>La voz os dice que estáis cerca. Os dice que os
  preparéis...</p>

<h3>Conclusión</h3>

<p>La última niebla se disipa e inmediatamente un
  viento te encoge, circulando a lo largo de las
  cámaras de la prisión. Su velocidad crece
  rápidamente, comenzando como una brisa que
  crece a ciclón en cuestión de segundos.</p>

<p>Y entonces oís la voz: un sonido llevado por el
viento, un sonido enorme y terrible. Un grito
poderoso y el resto de monstruos son
destruidos, desintegrados y dispersos entre la
tormenta.</p>

<p>“Gracias amigos míos, es bueno deshacerse de
  estas cosas” La voz suena como si unos huesos
  estuvieran hablando “y ahora que está hecho te
  pido que me ayudes de nuevo; sigo siendo un
  prisionero atrapado por el viento, con el fin de
  tener una forma más corpórea y dejar esta
  tierra exijo que sean devueltas mis vasijas de
  poder.”</p>

<p>Caéis de rodillas mientras el sonido se apaga,
vuestras cabezas retumban de la vibración. La
voz acaba de destruir a sus adversarios como si
no fueran nada. No os podéis imaginar lo que
sería capaz si le dáis más poder.</p>

<p>“No te preocupes no tengo ningún deseo de
  traer el mal a esta tierra. Solo deseo seguir mi
  camino para ser libre y no estar atrapado por
  este mal. Os proporcionaré una visión para
  saber dónde encontrar la primera vasija.
  Pensaron en esconderla de mí, pero puedo verla
  como si estuviera en esta misma cámara”.</p>

<p>"Por favor traédmela”</p>

<p>de vuelta a la entrada de la cueva. Muy lejos de
  su influencia, podéis tomar la decisión de hacer
  lo que propone <strong>(32-Decrepit Wood)</strong> o podéis intentar llegar al
  fondo del asunto de qué es exactamente lo que
  quiere hacer la Voz con sus poderes y que no
  alcanzas a entender. <strong>(30-Shrine of the Depths)</strong></p>

<h2>30 - Shrine of the Depths</h2>

<p>"Así que, ¿hay una voz sin cuerpo en alguna
  parte en lo profundo de las Montañas de Cuello
  de Cobre (Copperneck Mountains), y quiere
  que acumuléis vasijas que le ayuden a escapar
  de su confinamiento?" Un bibliotecario Quatryl
  de la Universidad se ajusta las gafas para
  miraros. "¿Y queréis saber exactamente qué es
  esta voz?"</p>

<p>Se ríe nerviosamente. "Heh, vale, bueno, haré lo
que pueda. Empezaré con rituales que podrían
separar una voz de su anfitrión..." El Quatryl se
desvía en medio de su frase y deambula por
unos estantes de libros, donde hojea varios
textos.</p>

<p>Decidís ir al mercado por unas horas. Cuando
  regresáis, el Quatryl se apresura con emoción.</p>

<p>"¡Lo he encontrado!" Os pone un libro en la
cara. "Encontré varios callejones sin salida hasta
que me di cuenta de que la voz no estaba
separada, si no que era la única cosa que
puede atravesar la barrera creada para
encarcelarlo, lo que implica que la barrera en sí
era extra-planar, probablemente creada por los
Aesthers hace siglos.</p>

<p>"Así que examiné todos los textos que tenemos
  sobre los rituales de los Aesthers -que no es
  mucho, son muy reticentes con esos asuntos pero
  por suerte encontré este libro. Es un
  relato concreto de la atadura de un demonio en
  la región de Cuello de Cobre (Copperneck) a la
  que os referisteis. Aparentemente la criatura
  era tan fuerte, que los Aesthers solicitaron la
  ayuda de los Savvas y también la de los
  Harrowers. Dicen que fue lo suficientemente
  poderoso como para arrasar con todo el
  continente.</p>

<p>"Si os está pidiendo que le ayudéis a liberarse,
  recomendaría encarecidamente que no lo
  hicierais. La fiabilidad del texto es un poco
  cuestionable la verdad, pero sea lo que sea esta
  voz, estaba sellada por alguna razón."</p>

<p>El Quatryl, por fin, deja de agitar el libro y
  empieza a hojear las páginas. "De hecho, si
  podéis escuchar la voz desde el exterior de la
  cueva, y tiene una influencia tan fuerte sobre
  vosotros, parece como si la barrera estuviera
  debilitándose, tal y como advierte el autor.</p>

<p>"Por lo que parece, hay un cetro que podría ser
  utilizado para fortalecer el ritual de unión, pero
  el autor dice que ha sido colocado en una isla a
  lo largo de la costa sur por seguridad. En el
  texto se encuentra detallado un sencillo
  encantamiento para abrir la puerta del
  santuario."</p>

<p>Dos días después, os encontráis ante la
estructura en ruinas semisumergida en la tierra
encharcada. Pronunciáis unas pocas palabras
extrañas y la puerta se abre de golpe. Tenéis el
fuerte presentimiento de que la puerta no es lo
único que se interpone entre ese cetro y
vosotros.</p>

<h3>Conclusión</h3>

<p>Os hacéis con el cetro y toda la edificación
  tiembla violentamente. Una energía oscura
  irrumpe, perforando los cuerpos de los
  monstruos que aún os atacan.</p>

<p>Todos ellos caen muertos y el temblor se
detiene.</p>

<p>Sin embargo, al poneros en pie, un punzante
  dolor os atraviesa el cráneo de repente.</p>

<p>"Habéis sido engañados", dice la Voz en
  vuestras mentes. "¡No traigáis ese cetro hasta
  mí! Si me liberáis, os garantizo que no os haré
  ningún daño. Pero no puedo decir lo mismo si
  venís con el cetro. Sea lo que sea que estáis
  haciendo, estáis equivocados."</p>

<p>Tan rápido como llegó, el dolor se detiene.
  Aseguráis el cetro y salís corriendo de la capilla,
  deseosos de llevarlo a la Cámara del Eco (Echo
  Chamber) y silenciar la Voz. <strong>(42-Realm of the Voice)</strong></p>



<h2>(Faltan escenarios)</h2>

<h2>4 - Crypt of the Damned</h2>

<p>Las proclamaciones del comandante bandido de
  un "Gloom" no te sientan bien en el estómago
  mientras buscas en la curva del Río Tranquilo -
  hay algo aquí que interesa a estos maníacos.</p>

<p>Te sorprende un poco encontrar las ruinas de
  una antigua cripta medio cubierta de musgo
  y hiedra. La historia de este lugar es vieja y
  oscura. Sin más información que seguir, te
  diriges hacia las profundidades. Lo que sea
  que traten estos supuestos bandidos, estás
  decidido a descubrirlo, incluso después de
  tropezarte con un gran grupo de ellos y más
  muertos vivientes al pie de las escaleras.</p>

<p>"Has cometido un error al venir aquí", sisea
  uno de los bandidos. No estás de acuerdo.
  Estás justo donde quieres estar.</p>

<h3>(1)</h3>

<p>Golpeas la puerta, pensando que estás
  preparado para cualquier cosa. Ante ti, sin
  embargo, se encuentra una criatura de energía
  elemental pura, enfurecida y demoníaca. Te
  lleva un segundo recuperarte. Como si animar a
  los muertos no fuera suficiente para estos
  lunáticos.</p>

<h3>Conclusión</h3>

<p>Está claro que has interrumpido algún tipo de
  ritual aquí. Estos demonios elementales
  pertenecen a un plano de existencia
  completamente diferente, pero los sectarios de
  alguna manera lograron llevarlos a éste.</p>

<p>En el altar en la habitación de atrás, hay una
  gran cantidad de garabatos en estos rituales. No
  toda la escritura es inteligible, pero se tiene la
  sensación de que esta cripta es un lugar de
  poder utilizado una vez por una civilización
  antigua. Los antiguos aprovecharon el poder de
  los elementos para mejorar sus propias vidas, y
  aunque su destino exacto está más allá de tu
  conocimiento, claramente no terminó bien.</p>

<p>Entre las escrituras también encontrará notas
  sobre otros lugares de poder en la zona. Uno
  parece ser algo muy utilizado por el culto y el
  otro está marcado como invadido por perversos
  muertos vivientes. Parece como si tuvieras la
  oportunidad de estropear algo más de su
  trabajo <strong>(5-Ruinous Crypt)</strong> o de obtener su beneplácito
  ayudando a eliminar una amenaza. <strong>(5-Decaying Crypt)</strong></p>
