<div>
  <button [disabled]="roundStatus !== 'round'" (click)="onNextRound()">Next Round</button>
  <button [disabled]="roundStatus !== 'pre-round' || !playersInitiativesForm.valid" (click)="onDrawCards()">Draw Cards</button>
</div>

<form #playersInitiativesForm="ngForm">
  <ng-container *ngIf="roundStatus === 'pre-round'">

    <div *ngFor="let player of playersTrackers; let i=index;">
      <img [src]="player.src" width="80" height="80">
      <input
        type="number"
        style="width:50px;"
        name="initiative_{{i}}"
        [(ngModel)]="player.currentInitiative"
        required min="1" max="99">
    </div>

    <div *ngFor="let enemy of enemiesTrackers">
      <img [src]="enemy.src" width="80" height="80">
      <img *ngIf="enemy.currentCard" src="assets/images/{{enemy.currentCard?.image}}" height="80">
      <img *ngIf="!enemy.currentCard" src="assets/images/{{enemy.cardBack.image}}" height="80">
    </div>
  </ng-container>

  <ng-container *ngIf="roundStatus === 'round'">
    <ng-container *ngFor="let tracker of allTrackersOrderedByInitiative; let i=index;">
      <div *ngIf="tracker.type === 'player'">
        <img [src]="tracker.src" width="80" height="80">
        <input
          type="number"
          style="width:50px;"
          name="initiative_{{i}}"
          [(ngModel)]="tracker.currentInitiative"
          disabled>
      </div>

      <div *ngIf="tracker.type === 'enemy'">
        <img [src]="tracker.src" width="80" height="80">
        <img src="assets/images/{{tracker.currentCard?.image}}" height="80">
      </div>
    </ng-container>
  </ng-container>
</form>


