<ng-template #modalContent let-modal>
  <div class="modal-header" [style.backgroundImage]="'url(assets/background.png)'">
    <h4 class="modal-title">{{elementSelected.name}}<button class="btn btn-danger" (click)="removeToken(modal)">Remove Token</button></h4>
  </div>
  <div class="modal-body">
      <div *ngIf="showStats">
        <app-modal-token-stats [token]="elementSelected"></app-modal-token-stats>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="closeModal(modal)">Save & Close</button>
  </div>
</ng-template>

<div id="available-tokens">
  <div>
    <img *ngFor="let token of availableTokens" [src]="token.src" alt="" [title]="token.name" draggable="true" (dragstart)="dragStartFromPool(token)">
    <button id="reset-scenario-button" class="btn btn-danger" (click)="resetScenario()">Reset Scenario</button>
  </div>
</div>

<div class="row">
  <img id="scenario-avatar" [src]="scenarioAvatar">
  <h1>
      <span>{{ scenarioId }} - {{ scenarioName }}</span>
      <span style = "display: block;">Goal: {{ scenarioGoal }}</span>
  </h1>
</div>

<div class="row">
  <div id="board" class="col-12" *ngIf="currentMatrix.length; else elseBlock">
    <ul id="hexGrid" *ngFor="let row of currentMatrix; let odd=odd; let rowIndex=index;" [class.odd]="odd">
      <li class="hex" *ngFor="let cell of row; let colIndex=index;" [class.odd]="odd">
        <div class="hexIn" *ngIf="cell.slice(-1).pop(); let uppestToken">
          <a *ngIf="uppestToken.id!=='-'" class="hexLink {{uppestToken.type}}" (drop)="drop(rowIndex, colIndex, $event)" (dragover)="allowDrop($event)" draggable="true" (dragstart)="dragStartPlay(rowIndex, colIndex)" (click)="onShowStats(uppestToken, rowIndex, colIndex, modalContent)">
            <img [src]="uppestToken.src" alt=""/>
            <div class="token-status" align ="center" *ngIf="uppestToken.status">
              <img *ngIf="uppestToken.status.poisoned" class="status" src = "./assets/poisoned.png"/>
              <img *ngIf="uppestToken.status.wounded" class="status" src = "./assets/wounded.png"/>
              <img *ngIf="uppestToken.status.immobilized" class="status" src = "./assets/immobilized.png"/>
              <img *ngIf="uppestToken.status.disarmed" class="status" src = "./assets/disarmed.png"/>
              <img *ngIf="uppestToken.status.stunned" class="status" src = "./assets/stunned.png"/>
              <img *ngIf="uppestToken.status.muddled" class="status" src = "./assets/muddled.png"/>
              <img *ngIf="uppestToken.status.invisible" class="status" src = "./assets/invisible.png"/>
              <img *ngIf="uppestToken.status.strengthened" class="status" src = "./assets/Strengthen.png"/>
            </div>
            <div class="info" *ngIf="uppestToken.stats?.h">{{uppestToken.stats.h}} <ng-container *ngIf="uppestToken.stats?.s"> - ({{uppestToken.stats.s}})</ng-container><ng-container *ngIf="uppestToken.stats?.re"> - *{{uppestToken.stats.re}}</ng-container></div>
            <h1 *ngIf="['enemy','enemy elite','summon_player'].includes(uppestToken.type)">{{uppestToken.name}}</h1>
            <p *ngIf="['enemy','enemy elite'].includes(uppestToken.type)">{{uppestToken.stats.m}}M {{uppestToken.stats.a}}A {{uppestToken.stats.r}}R</p>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #elseBlock>
    <div id="board" class="col-12">
      <p>El mapa no ha sido registrado en la base de datos.</p>
      <button class="btn btn-primary" (click)="goTocreateMap()">Crear Mapa</button>
      <button class="btn btn-primary" (click)="registerMap()">Registrar</button>
    </div>
  </ng-template>
</div>
