.dark-modal .modal-content {
  background-color: #292b2c;
  color: black;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
#status-effects {
  color: black;
}
#health-counter {
  font-size: 25px;
  color:red;
  margin: 0 10px 0 10px;
}

#board {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
  margin-bottom: 180px;
}

#available-tokens {
  width: 1600px;
  float:left;
}

#available-tokens img {
  width: 70px;
}

#available-tokens div {
  position: fixed;
  bottom: 0;
}

.row { /* Si se solapa con #available-tokens, dejan de tener drag-drop */
  /*margin-right: 150px;*/
}

#hexGrid {
  display: block;
  /* width: 90%; */
  margin: 3px 0 0 0;
  padding-inline-start: 0;
}

.hex {
  float: left;
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}

.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex .token-status {
  margin: 0 auto;
  margin-top: 10%;
  box-sizing:border-box;
  /* -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0); */
}

.hex .token-status img {
  position: relative;
  left: 0;
  height: 1.4em;
  /* top: -50px;
  box-sizing:border-box;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0); */
}

.hex .info {
  width: 100%;
  margin: 0 auto;
  height: 15px;
  margin-top: 50%;
  box-sizing:border-box;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}

.hex .player .info {
  font-size: larger;
  color: white;
}

.hex .summon .info {
  font-size: larger;
  color: white;
}

.hex .enemy .info {
  color: white;
}

.hex .enemy.elite .info {
  color: yellow;
}

.hex h1, .hex p {
  width: 100%;
  font-size: 0.8em;
  /* padding: 5%; */
  /* box-sizing:border-box; */
  background-color: rgba(0, 128, 128, 0.8);
  /* font-weight: 300; */
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
  bottom: 40%;
  padding-top:50%;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}

.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}

/*** HOVER EFFECT  **********************************************************************/
.enemy:hover h1, .enemy:focus h1,
.enemy:hover p, .enemy:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

.summon_player:hover h1, .summon_player:focus h1 {
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
#hexGrid{
  width: 1600px;
  clear: both;
  padding-bottom: 5px;
}

.hex {
  width: 80px; /* = 100 / 20  => Filas de 20 - 19 - 20 - 19 - 20 - 19... */
}

.hex.odd:nth-child(1) { /* primer hexágono de las filas pares  */
  margin-left:40px; /* = width of .hex / 2  to indent even rows */
}

@media (max-width: 700px) {
  /* #board {
    box-sizing: content-box;
  } */

  #scenario-avatar, #reset-scenario-button {
    display: none;
  }

  #available-tokens {
    float:right;
    width: 10vw;
  }

  #available-tokens div {
    position: fixed;
  }

  #available-tokens img {
    width: 5vw;
  }

  .row { /* Si se solapa con #available-tokens, dejan de tener drag-drop */
    margin-right: 10vw;
  }

  #hexGrid{
    padding-bottom: 4.5vw;
  }

  .hex {
    width: 4.5vw; /* = 90 / 20  => Filas de 20 - 19 - 20 - 19 - 20 - 19... */
  }
  .hex.odd:nth-child(1) { /* primer hexágono de las filas pares  */
    margin-left:2.25vw; /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 430px) {
  #hexGrid{
    margin: 0 0 1rem 0;
    padding-bottom: 2.0vw;
  }

  .hex {
    width: 3.5vw;
  }
}
