<pre>
Envelope Openers
-------------------------
Characters:
- Lorkham (Cragheart)
- Farts-like-thunder (Tinkerer)- Nightmare (Scoundrel)- Psycho (Mindthief)

Reputation: 0

City Prosperity: 2 (5 tick)

City Rule: Economic
Party Achievements:- First Steps

Global Achievements: - The Dead Invade- End Of Invasion

Ancient Technologies: 1 / 5

Donations to the Sanctuary of the Great Oak: 3 / 10

Goals (treasures looted):
- 67 (10 Gold)- 05 (023 ChainMail)

City Events: 01, 03, 06, Shuffle, 04, 24

City Events discarded: 03, 16, 06, 04

City Events added: 70

Road Events: 08. 03

Road Events Discarded: 08

Locations:
- 1 Black Barrow (Completed)
- 2 Barrow Lair (Completed)
- 3 Inox Encampment (Completed)
- 4 Crypt of the Damned
- 8 Gloomhaven Warehouse (Blocked)
- 9 Diamond Mine (Completed)
- 11 Gloomhaven Square - supporting Jekserah (Completed)
- 12 Gloomhaven Square - supporting Gloomhaven (Blocked)
- 16 Mountain Pass
- 18 Abandoned Sewers

Current Location: Gloomhaven City

LORKHAM
---------------
Personal Quest: 528 "Goliath Toppler" (Progress: 3/4)
Level: 2
XP: 76 + ? / 95
Gold: 70
Perk ticks: 0
Perks: 
- Replace one -1 card with one +1 card
Ability Cards:
- L2: Sentient Growth
Items:
- 001 "Boots of Striding"
- 014 "Minor Power Potion"- 003 "Hide Armor"

FARTS-LIKE-THUNDER
----------------------------------
Personal Quest: 513 "Finding the Cure" (Progress: 0/8)
Level: 3
XP: 131 + ? / 150
Gold: 34
Perk ticks: 5
Perks: 
- Remove two -1 cards
- Remove two -1 cards
- Add one 0, ADD TARGET card
Ability Cards:
- L2: Stamina Booster
- L3: Crank Bow
Items:
- 006 "Eagle-Eye-Googles"
- 014 "Minor Power Potion"
- 125 "Curious Gear"
- 016 "Cloak of Pockets"
- 020 "Minor Mana Potion"
- 021 "Stun Powder"

NIGHTMARE
------------------
Personal Quest: 526 "Vengeance" (Progress: 1/4)
Level: 2
XP: 90 / 95
Gold: 1
Perk ticks: 7
Perks:- Add two +MUDDLE cards
- Remove two -1 cards
- Ignore negative scenario effects
Ability Cards:
- L2: Open Wound
Items:
- 004 "Leather Armor"
- 013 "Minor Stamina Potion"
- 002 "Winged Shoes"
- 005 "Cloak of invisibility"
- 011 "Poison Dagger"
- 017 "Emposwering Talisman"


PSYCHO
-------------
Personal Quest: 521 "Take Back the Trees" (Progress: 1/3)
Level: 2
XP: 101 / 150
Gold: 3
Perk ticks: 1
Perks: 
- Add three MUDDLE cards
- Add one +2 & Frost card
Ability Cards:
- L2: Hostile Takeover
- L3: Silent Scream
Items:
- 011 "Poison Dagger"
- 013 "Minor Stamina Potion"
- 001 "Boots of Striding"
- 008 "Heater Shield"
- 016 "Cloak of Pockets"
- 012 "Minor Healing Potion"
- 020 "Minor Mana Potion"

-------------History Log---------------
Global Achievment: City Rule: Militaristic

1) Black Barrow - SUCCESS - (6xp, Party Achievment: First Steps, Scenario: 2 )
- L: 4xp, 4g, 
- F: 18xp, 14g, 1t
- N: 8xp, 4g, 2t
- P: 8xp, 4g

2) Barrow Lair - SUCCESS - (6xp, 10g, +1prosperity, Scenarios: 3,4 )- L: 4xp, 16g- F: 13xp, 4g, 1t- N: 7xp, 10g, 1t- P: 6xp, 4g

Shop:
- N: 002 Winged Shoes (20g)
City Event:- 01: +1 reputation
Road Event:- 08: DISCARD

3) Inox Encampment - SUCCESS - (6xp, 15g, +1 prosperity, Scenarios: 8, 9 )
- L: 6xp, 4g
- F: 13xp, 0g, 1t
- N: 7xp, 8g, 2t
- P: 8xp, 6g, 1t

Shop: 
L: 003 Hide Armor (10g)
F: 014 Minor Power Potion (10g)
N: 005 Cloak of invisibility (20g)
P: 001 Boots of Striding (20g)

City Event:- 03: Pay 10 gold (L: -3g, F:-4g, P:-3g) => Ancient Technology: Curious Gear (125) => DISCARD
Road Event: 03

9) Diamond Mine - Success - (6xp, 20g, +1prosperity, Scenarios: 11, 12)
- L: 8xp, 10g
- F: 19xp, 0g, 2t
- N: 6xp, 10g, 1t
- P: 12xp, 6g

City Event:- 06: Pay 10 gold (L: -4g, F:-2g, N: -2g P:-2g) => Add City Event 70 => DISCARD

11) Gloomhaven Square (supporting Jekserah) - Failure
- L: 6xp, 0g
- F: 10xp, 4g
- N: 7xp, 6g
- P: 7xp, 8g, 023 Chainmail

Sanctuary: L: -10g, N: -10g, P: -10g
Shop: 
- N: Vende 023 Chainmail (10g), Compra 011 Poison Dagger (20g) y 008 Heater Shield (20g)
- P: 008 Heater Shield (20g)
City Event 04: +1 Reputation, -1 Perk (F: -1t, P: -1t). Discard.

11) Gloomhaven Square (supporting Jekserah) - Success (8xp, 15g, +2prosperity, 113 SkullBan Axe Desing, Scenarios 16, 18, Global Achievements: City Rule: Economic y End of Invasion)
- L: 6xp, 3g
- F: 16xp, 3g, 1t
- N: 5xp, 3g, 1t
- P: 7xp, 3g, 1t

City Event 24: +10 XP  
Shop:
- F: 016 Cloak of Pockets (20g), 020 Minor Mana Potion (10g), 021 Stun Powder (20g)

18) Failure
- L: 8xp, 0g
- F: 15xp, 15g
- N: 8xp, 27g
- P: 11xp, 27g

City Event 15: -2 reputation => DISCARD
Shop:
- N: 017 Empowering Talisman (45g)
- P: 016 Cloak of Pockets (20g), 012 Minor Healing Potion (10g), 020 Minor Mana Potion (10g)
Sanctuary: L: -10g, P: -10g

</pre>
