

<h1>Campaña: {{ status.party.name }}</h1>

<h2>City Rule: Militaristic</h2>

<h2>Global Achievements:</h2>
<ul>
  <li *ngFor="let achievement of globalAchievements">
    {{achievement}}
  </li>
</ul>

<h2>Party Achievements:</h2>
<ul>
  <li *ngFor="let achievement of partyAchievements">
    {{achievement}}
  </li>
</ul>

<h2>Messages deciphered:</h2>
<ul>
  <li *ngFor="let message of decipheredMessages">
    {{message}}
  </li>
</ul>

<app-locations-tracker [locations]="scenarios"></app-locations-tracker>

<app-treasures-tracker [treasures]="treasures" [treasuresLooted]="treasuresLooted"></app-treasures-tracker>

<!--

<pre>

Characters:
- Lorkham (Cragheart) - Retired
- Farts-like-thunder (Tinkerer)
- Nightmare (Scoundrel) - Retired
- Psycho (Mindthief) - Retired
- Divayth Fyr (Doomstalker)
- Medea (Spellweaver)
- Einar (Brute)


City Rule: <del>Militaristic</del> Economic

Party Achievements:
- First Steps
- Through the ruins
- Following Clues
- The Voice’s Command (Lost)
- The Scepter and the Voice
- The Drake's Command (Lost)
- Tremors

Global Achievements:
- The Dead Invade
- End Of Invasion
- Ancient Technologies (3 / 5)
- The Power of Enhancement
- Water Breathing
- The Voice's Silenced
- The Drake Slain

Goals (treasures looted):
- 67 (10 Gold)
- 05 (Item 023 ChainMail)
- 63 (Random Item Design: 081)
- 01 (Random Item Design: 088)
- 22 (Random Item Design: 074)
- 03 (Item 044 Splintmail)
- 26 (20 Gold)
- 70 (Random side scenario: 71)
- 30 (1 tick)
- 55 (1 tick)
- 58 (Item 108 Drakescale Helm)
- 33 Item 019 “Weighted Net”
- 42 (Random Item Design: 075)


City Events: 01, 03, 16, Shuffle, 04, 24, 15, Shuffle, 28, 17, 06, Shuffle, 21, 70, 05, 27, 14, Shuffle, Shuffle, 02, 10, 09, 13, Shuffle, 19, 07, 01, Shuffle, 12, 45, Shuffle, 30, Shuffle, 38, 71, Shuffle, 73, 71, Shuffle, 23, 43, Shuffle

City Events discarded: 03, 16, 04, 15, 28, 17, 06, 21, 70, 05, 27, 14, 02, 10, 09, 19, 07, 12, 45, 38, 73, 71, 23, 43

City Events added: 70, 73, 46, 38, 45, 71, 47, 31, 62, 80, 43, 72, 44, 40, 61

Road Events: 08, 03, 11, 23, 14, Shuffle, Shuffle, Shuffle, 10, 15, 18, Shuffle, 19, 14, Shuffle, 30, 29, 38, 15, 27, 01, Shuffle, 07, 03, 14, 44, 01

Road Events Discarded: 08, 11, 23, 10, 18, 19, 12, 30, 29, 38, 27, 07, 44

Road Events added: 46, 38, 45, 47, 31, 43, 44, 40

-->




<!--

Locations:
- 1 Black Barrow (Completed)
- 2 Barrow Lair (Completed)
- 3 Inox Encampment (Completed)
- 4 Crypt of the Damned (Completed)
- 5 Ruinous Crypt
- 6 Decaying Crypt
- 8 Gloomhaven Warehouse (Blocked)
- 9 Diamond Mine (Completed)
- 11 Gloomhaven Square - supporting Jekserah (Completed)
- 12 Gloomhaven Square - supporting Gloomhaven (Blocked)
- 14 Frozen Hollow (Completed)
- 16 Mountain Pass (Completed)
- 18 Abandoned Sewers (Completed)
- 22 Temple of the Elements
- 23 Deep Ruins (Completed)
- 24 Echo Chamber (Completed)
- 25 Icecrag Ascent (Completed)
- 26 Ancient Cistern (Completed)
- 30 Shrine of the Depths (Completed)
- 32 Decrepit Wood (Blocked)
- 33 Savvas Armory (Blocked)
- 34 Scorched Summit (Completed)
- 42 Realm of the Voice (Completed)
- 43 Drake Nest (Completed)
- 55 Foggy Thicket (Completed)
- 56 Bandit's Wood (Completed)
- 57 Investigation (Completed)
- 58 Bloody Shack (Completed)
- 59 Forgotten Grove (Completed)
- 60 Alchemy Lab (Completed)
- 65 Sulfur Mine (Completed)
- 68 Toxic Moor (Completed)
- 71 Windswept Highlands
- 72 Oozing Grove (Completed)
- 76 Harrower Hive (Completed)
- 81 Temple of the Eclipse (Completed)
- 84 Crystalline Cave (Completed)
- 90 Demonic Rift

Current Location: Gloomhaven City

LORKHAM
---------------
Personal Quest: 528 "Goliath Toppler" (Progress: 3/4)
Level: 3
XP: 127 / 150
Gold: 37
Perk ticks: 1
Perks:
- Replace one -1 card with one +1 card
- Ignore Negative Scenario Effects
Ability Cards:
- L2: Sentient Growth
- L3: Blunt Force
Items:
- 001 "Boots of Striding"
- 014 "Minor Power Potion"
- 003 "Hide Armor"
- 013 "Minor Stamina Potion"
- 130 "Helix Ring"

FARTS-LIKE-THUNDER
----------------------------------
Personal Quest: 513 "Finding the Cure" (Progress: 8/8)
Level: 9
XP: 503 / 500
Gold: 53
Perk ticks: 18
Perks:
- Remove two -1 cards
- Remove two -1 cards
- Add two +1 cards
- Replace One -2 card with one +0 card
- Add one +1 wound card
- Add one +1 wound card
- Add one +3 card
- Add one +1 Heal 2 card
- Add one +1 Heal 2 card
- Add one +0 Add Target card
- Ignore Negative Scenario Effects
- Add one +1 Immobilize card
- Add one +1 Immobilize card
Ability Cards:
- L2: Stamina Booster
- L3: Crank Bow
- L4: Dangerous Contraption
- L5: Noxious Vials
- L6: Auto Turret
- L7: Curative Aerosol
- L5: Disintegration Beam
- L9: Lethal Injection
Items:
- 006 "Eagle-Eye-Googles"
- 014 "Minor Power Potion"
- 125 "Curious Gear"
- 016 "Cloak of Pockets"
- 020 "Minor Mana Potion"
- 021 "Stun Powder"
- 013 "Minor Stamina Potion"
- 033 "Volatile Bomb"
- 135 "Focusing Ray"
- 034 "Major Stamina Potion"

NIGHTMARE
------------------
Personal Quest: 526 "Vengeance" (Progress: 4/4)
Level: 5
XP: 215 / 275
Gold: 32
Perk ticks: 14
Perks:
- Add two +MUDDLE cards
- Remove two -1 cards
- Ignore negative scenario effects
- Replace one -2 card with one +0 card
- Remove two -1 cards
- Replace one -1 card with one +1 card
- Replace one +0 card with one +2 card
- Replace one +0 card with one +2 card
Ability Cards:
- L2: Open Wound
- L3: Hidden Daggers
- L4: Flurry of Blades
- L5: Visage of the Inevitable
Items:
- 004 "Leather Armor"
- 013 "Minor Stamina Potion"
- 002 "Winged Shoes"
- 005 "Cloak of invisibility"
- 008 "Heater Shield"
- 011 "Poison Dagger"
- 017 "Emposwering Talisman"
- 012 "Minor Healing Potion"
- 044 "Splintmail"

PSYCHO
-------------
Personal Quest: 521 "Take Back the Trees" (Progress: 3/3)
Level: 7
XP: 379 / 420
Gold: 20
Perk ticks: 6
Perks:
- Add three MUDDLE cards
- Add one +2 & Ice card
- Remove two -1 cards
- Remove two -1 cards
- Add one DISARM card and one MUDDLE card
- Ignore negative scenario effects
- Replace one -2 card with one 0 card
- Add one Rolling Stun card
Ability Cards:
- L2: Hostile Takeover
- L3: Silent Scream
- L4: Cranium Overload
- L5: Mass Hysteria
- L6: Dark Frenzy
- L7: Psychic Projection
Items:
- 011 "Poison Dagger"
- 013 "Minor Stamina Potion"
- 001 "Boots of Striding"
- 008 "Heater Shield"
- 016 "Cloak of Pockets"
- 012 "Minor Healing Potion"
- 020 "Minor Mana Potion"
- 139 "Psychic Knife"
- 027 "Major Healing Potion"

DIVAYTH FYR
---------------
Personal Quest: 530 "Augmented Abilities" (Progress: 2/4)
Level: 7
XP: 400 / 420
Gold: 42
Perk ticks: 18
Perks:
- Remove two -1 cards
- Remove two -1 cards
- Replace Two 0 cards with two +1 card
- Add One Rolling, Add Target Card
- Add One Rolling, Add Target Card
- Ignore Negative Scenario Effects
- Replace Two +0 Cards with Two +1 Cards
- Replace Two +0 Cards with Two +1 Cards
- Replace Two +0 Cards with Two +1 Cards
- Add Two Rolling +1 cards
- Add Two Rolling +1 cards
- Add One Rolling Muddle card
Ability Cards:
- L2: Expose
- L3: Press the Attack
- L4: Flight of Flame
- L5: Wild Command
- L6: Camouflage
Items:
- 001 "Boots of Striding"
- 013 "Minor Stamina Potion"
- 005 "Cloak of invisibility"
- 012 "Minor Healing Potion"
- 147: "Cloak of the Hunter"
- 108: "Drakescale Helm"

MEDEA
---------------
Personal Quest: 531 "Elemental Samples" (Progress: 5/6)
Level: 7
XP: 401 / 420
Gold: 27
Perk ticks: 10
Perks:
- Add two +1 cards
- Add two +1 cards
- Add one +1 & Wound card
- Add one +2 & Fire
- Add one +2 & Fire
- Add one +2 & Ice
- Add one Rolling Sun card and one Rolling Night card
- Replace one -1 card by one +1 card
- Replace one -1 card by one +1 card
Ability Cards:
- L2: Flashing Burst
- L3: Cold Fire
- L4: Spirit of Doom
- L5: Chromatic Explosion
- L6: Frozen Night
Items:
- 001 "Boots of Striding"
- 005 "Cloak of invisibility"
- 034 "Major Stamina Potion"
- 031 "Hawk Helm"
- 027 "Major Healing Potion"
- 012 "Minor Healing Potion"

EINAR
-----
Personal Quest: 527 "Zealot of the Blood God" (Progress: 6/12)
Level: 7
XP: 309 / 275
Gold: 58
Perk ticks: 5
Perks:
- xxxx
- xxxx
- xxxx
- xxxx
- Stun
- xxxx
Ability Cards:
- L2: xxx
- L3: xxx
- L4: xxx
- L5:
Items:
- 007 "Iron Helmet"
- 034 "Major Stamina Potion"
- 074 "Swordedge Armor"

-------------History Log---------------
Global Achievement: City Rule: Militaristic

1) Black Barrow - SUCCESS - (6xp, Party Achievement: First Steps, Scenario: 2 )
- L: 4xp, 4g,
- F: 18xp, 14g, 1t
- N: 8xp, 4g, 2t
- P: 8xp, 4g

2) Barrow Lair - SUCCESS - (6xp, 10g, +1prosperity, Scenarios: 3,4 )
- L: 4xp, 16g
- F: 13xp, 4g, 1t
- N: 7xp, 10g, 1t
- P: 6xp, 4g

Shop:
- N: 002 Winged Shoes (20g)
City Event:- 01: +1 reputation
Road Event:- 08: DISCARD

3) Inox Encampment - SUCCESS - (6xp, 15g, +1 prosperity, Scenarios: 8, 9 )
- L: 6xp, 4g
- F: 13xp, 0g, 1t
- N: 7xp, 8g, 2t
- P: 8xp, 6g, 1t

Shop:
L: 003 Hide Armor (10g)
F: 014 Minor Power Potion (10g)
N: 005 Cloak of invisibility (20g)
P: 001 Boots of Striding (20g)

City Event: 03: Pay 10 gold (L: -3g, F:-4g, P:-3g) => Ancient Technology: Curious Gear (125) => DISCARD
Road Event: 03

9) Diamond Mine - Success - (6xp, 20g, +1 prosperity, Scenarios: 11, 12)
- L: 8xp, 10g
- F: 19xp, 0g, 2t
- N: 6xp, 10g, 1t
- P: 12xp, 6g

City Event:- 16: Pay 10 gold (L: -4g, F:-2g, N: -2g P:-2g) => Add City Event 70 => DISCARD

11) Gloomhaven Square (supporting Jekserah) - Failure
- L: 6xp, 0g
- F: 10xp, 4g
- N: 7xp, 6g, 023 Chainmail
- P: 7xp, 8g

Sanctuary: L: -10g, N: -10g, P: -10g
Shop:
- N: Vende 023 Chainmail (10g), Compra 011 Poison Dagger (20g) y 008 Heater Shield (20g)
- P: 008 Heater Shield (20g)
City Event 04: +1 Reputation, -1 Perk (F: -1t, P: -1t). Discard.

11) Gloomhaven Square (supporting Jekserah) - Success (8xp, 15g, +2prosperity, 113 SkullBan Axe Desing, Scenarios 16, 18, Global Achievements: City Rule: Economic y End of Invasion)
- L: 6xp, 3g
- F: 16xp, 3g, 1t
- N: 5xp, 3g, 1t
- P: 7xp, 3g, 1t

City Event 24: +10 XP
Shop:
- F: 016 Cloak of Pockets (20g), 020 Minor Mana Potion (10g), 021 Stun Powder (20g)

18) Abandoned Sewers - Failure
- L: 8xp, 0g
- F: 15xp, 15g
- N: 8xp, 27g
- P: 11xp, 27g

City Event 15: -2 reputation => DISCARD
Shop:
- N: 017 Empowering Talisman (45g)
- P: 016 Cloak of Pockets (20g), 012 Minor Healing Potion (10g), 020 Minor Mana Potion (10g)
Sanctuary: L: -10g, P: -10g

Road Event 11: Add City Event 73 => DISCARD

16) Mountain Pass - Success (8xp, Scenarios 24, 25)
- L: 9xp, 15g
- F: 10xp, 3g, 1t
- N: 5xp, 0g, 1t
- P: 13xp, 15g, 1t

City Event 28: +10 gold each  => DISCARD
Shop:
- L: 013 Minor Stamina Potion (10g)
- F: 013 Minor Stamina Potion (10g)
- N: 012 Minor Healing Potion (10g)
- P: 021 Stun Powder (20g)

Sanctuary: L: -10g

18) Abandoned Sewers - Success (8xp, Scenarios 14, 23, 26, 43)
- L: 10xp, 18g, 1t
- F: 19xp, 0g, 1t
- N: 5xp, 15g, 1t
- P: 9xp, 21g, 1t

City Event 17: Unlock 81 - Temple of the Eclipse => DISCARD

Sanctuary: L: -10g, N: -10g, P: -10g

OPEN ENVELOPE B => +1 prosperity

Road Event 23: -1 Reputation, L: +2g, F:+2g, N: +2g P:+2g => DISCARD

81) Temple of the Eclipse - Failure
- L: 3xp, 0g, Item 130 - Helix Ring
- F: 7xp, 3g
- N: 9xp, 12g
- P: 7xp, 6g

City Event 06: +1 prosperity,  L: +5xp, F:+5xp, N: +2xp P:+5xp => DISCARD

Shop:
- L: 081 Brilliant Blade (31g)

Sanctuary: L: -10g, P: -10g

Road Event 14: No Effect

81) Temple of the Eclipse - Success (8xp + 10xp)
- L: 4xp, 0g, 1t
- F: 5xp, 9g, 1t
- N: 4xp, 6g, 2t
- P: 10xp, 3g, 1t

Sanctuary: L: -10g, F: -10g, P: -10g => +1 prosperity

RETIREMENT: LORKHAM
- +1 prosperity
- Add City Event 46
- Add Road Event 46

UNBLOCK: DOOMSTALKER
- Add City Event 38
- Add Road Event 38

CREATE CHARACTER:
Divayth Fyr (Orchid Doomstalker)
Level: 3

City Event 21: No effect

Shop:
D: - 001 "Boots of Striding" (20g)
D: - 013 "Minor Stamina Potion" (10g)

Open Envelope "when you feel you deserve it": Unlock scenario 76

23) Deep Ruins - Success (8xp, Global Achievment: Ancient Technology, Party Achievement: Through the ruins )
- D: 8xp, 6g, 2t
- F: 10xp, 6g, 1t
- N: 6xp, 0g, 1t
- P: 11xp, 3g, 1t

City Event 70: -1 Reputation => DISCARD

Shop:
- D: 005 "Cloak of invisibility" (20g), 012 "Minor Healing Potion" (10g)

26) Ancient Cistern - Success (8xp, 10g, +1 reputation, +2 prosperity, Party Achievment: Following Clues )
- D: 8xp, 6g, 1t
- F: 15xp, 6g, 1t, Item 033 - Volatile Bomb
- N: 6xp, 3g, 2t
- P: 13xp, 3g

City Event 05: -1 Perk (F: -1, N: -1, P: -1), +1 reputation, +1 prosperity => DISCARD

57) Investigation - Success (10xp, +1 reputation, Scenarios 58 )
- D: 4xp, 6g, 1t, Item Design 074
- F: 10xp, 3g, 1t
- N: 6xp, 3g, 1t, Item 044
- P: 8xp, 3g

Sanctuary: D: -10g, F: -10g, P: -10g, N: -10g

City Event 27: +1 prosperity => DISCARD

58) Bloody Shack - Success (10xp, "Vengeance" quest complete, Open envelope X, +2 reputation )
- D: 5xp, 3g
- F: 9xp, 6g, 1t
- N: 9xp, 0g
- P: 8xp, 0g

Open Envelope X:
"We call from de dust.
From the aged bones of those you have killed.
Speak our name into his web and we will be free.
10 clues you must find. -10 letters to our name-.
Here is our first: B."

Shop:
- F: 015 Boots of Speed (30g)

City Event 14: +2 reputation => DISCARD

Sanctuary: N: 10g => +1 prosperity

RETIREMENT: NIGHTMARE
- +1 prosperity
- Add City Event 45
- Add Road Event 45

CREATE CHARACTER:
Medea (Orchid Spellweaver)
Level: 4, 75g

UNBLOCK Scenario 072 Ooze Grave. (Por el Town Records).

Shop:
- M: 005 "Cloak of invisibility" (-19g), 034 "Major Stamina Potion" (-29), 031 "Hawk Helm" (-19g)

Sanctuary: P: 10g

Road Event 10: Add City Event 71 => DISCARD

14) Frozen Hollow - Success (10xp, Global Achievement: The Power of Enhancement)
- D: 7xp, 20g, 2t
- F: 19xp, 0g, 1t
- M: 8xp, 12g, 1t
- P: 7xp, 36g

City Event 02: P: -10g

Sanctuary: P: 10g

Solo Scenario: P: 23xp, 9g (10xp, ítem 139)
Solo Scenario: F: 11xp, 3g, 1t (10xp, ítem 135)
Solo Scenario: D: 12xp, 0g, 2t (10xp, ítem 147)

Road Event 07: D: -1t, 5xp, F:  -1t, 5xp, M: -1t, 5xp, P: -1t, 5xp => Discard

43) Drake Nest - Success (10xp, Global Achievement: Water Breath)
- D: 17xp, 0g, 1t
- F: 7xp, 21g, 2t
- M: 18xp, 9g, 1t
- P: 12xp, 3g, 1t, 098: Drakescale Boots

Shop:
- M: 027 Major Heal Potion (-29g)
- F: 034 Major Stamina Potion (-29g)

City Event 10: D: -5g, F: -5g, P: -5g

Sanctuary: P: 10g

Shop:
- P: Sell 098 Drakescale Boots (+25g), Buy 027 Major Heal Potion (-29g)

Road Event 15: No Effect

55) Foggy Thicket - Success (10xp)
- D: 5xp, 5g, 1t
- F: 15xp, 6g, 2t
- M: 5xp, 13g, 0t
- P: 14xp, 3g, 1t

Sanctuary: P: 10g

City Event 09: +1 prosperity

Shop:
- M: 012 Minor Healing Potion (-9g)

Enhancements
- D: Fresh Kill, +1 Range (-30g)

Road Event 18: 1 Curse => Discard

56) Bandit's Wood - Success (10xp, 10g, +2 reputation)
- D: 11xp, 0g, 2t
- F: 8xp, 15g, 1t
- M: 12xp, 12g, 2t
- P: 13xp, 9g, 1t

Sanctuary: P: 10g => +1 prosperity

City Event 13: Lose 3 gold each

RETIREMENT: PSYCHO
- +1 prosperity
- Add City Event 47
- Add Road Event 47
- Random Item 076 Chain Hood
- Random Map 68 Toxic Moor

CREATE CHARACTER:
Einar (Inox Brute)
Level: 4, 75g, 4 ticks

Shop:
- M: 001 "Boots of Striding" (18g)
- E: 074 "Swordedge Armor" (38g), 007 "Iron Helmet" (8g), 034 "Major Stamina Potion" (28g)

Road Event: 19 => +1 reputation => DISCARD

24) Echo Chamber - Success (10xp, Party Achievement: The Voice’s Command)
- D: 6xp, 6g
- F: 10xp, 3g
- M: 6xp, 12g, 2t
- E: 5xp, 12g

City Event 19: Pay 20 collective (nos repartimos 5 cada uno) => DISCARD

Road Event 14: No Effect

30) Shrine of the Depths - Success (10xp, 10g, Party Achievement: The Scepter and the Voice)
- D: 7xp, 3g, 1t
- F: 7xp, 0g
- M: 5xp, 6g, 2t
- E: 7xp, 0g, 1t

City Event 07: Gain 5 gold each => DISCARD

Road Event 12: +1 reputation

42) Realm of the Voice - Success (10xp, Lost Party Achievement: The Voice's Command, Global Achievment: The Voice's Silenced)
- D: 5xp, 3g, 2t, +1t (treasure))
- F: 13xp, 0g
- M: 6xp, 6g, 1t, +1t (treasure))
- E: 9xp, 0g, 1t

THE CREATOR HAS MADE A REQUEST FOR OUR SPOILS. THE TWEELFTH LETTER HOLDS THE KEY.

City Event 01: +1 reputation

UNBLOCK: Sunkeeper
- Add City Event 31
- Add Road Event 31

Road Event 30: +1 reputation => DISCARD

25) Icecrag Ascent - Fail
- D: 7xp, 3g, Item 158 (treasure)
- F: 6xp, 3g
- M: 7xp, 15g
- E: 12xp, 6g

City Event 12: -1 reputation => DISCARD

Road Event 29: DISCARD

25) Icecrag Ascent - Success (10xp, Party Achievement: The Drake's Command)
- D: 7xp, 3g, 2t
- F: 8p, 6g
- M: 11xp, 0g, 1t
- E: 11xp, 15g, 1t

City Event 45: Add City Event 62 => DISCARD

Shop:
- F: 035 "Falcon Figurine" (-48g)

Road Event 38: +1 prosperity => discard


72) Oozing Grove - Fail
1 exhausto
5 forest imps
E: 9xp, 12
M: 13xp, 8g
D: 9xp, 12g

Shop:
- F: Sell 125 "Falcon Figurine" (25g)
- E: 34 "Major Healing Potion" (-28g)

Donations: D, F, M, E

City Event 30: -5g each
Road Event 15: No effect

72) Oozing Grove - Success (12xp, +1 reputation, +1 prosperity)
- D: 6xp, 0g
- F: 4g, 3 forest imps
- M: 19xp, 16g, 1t
- E: 16xp, 20g, 1t

Add City Event 80 (Town Records)

Shop:
- D: Sell 147 "XXXXXX" (25g)
- E: 020 "Minor Mana Potion" (-7g)

Donations: F (+1 prosperity)

Enhancements:
- M: +1 Range to Impaling Eruption (-60g)
- D: (-50g)

City Event 38: +1 prosperity, -1 reputation => DISCARD
Road Event 27: No effect => DISCARD

59) XXXXXXX - Success (12xp, Unblock Scenario 60)
- D: 9xp, 24g, 2t
- F: 8g
- M: 8xp, 20g, 1t
- E: 5xp, 28g, 1t

Donations: F

City Event 71: Lose 1t (E)

60) XXXXXXX - Success (12xp, +1 prosperity)
- D: 5xp, 0g
- F: 0g
- M: 12xp, 4g, 2t
- E: 9xp, 4g, 1t

Donations: F

RETIREMENT: FARTS LIKE THUNDER
- +1 prosperity
- Add City Event 43
- Add Road Event 43
- Random Item 077 XXXXXX
- Random Map 65 XXXXXX

// TODO Desde crear Character Lux Lucitana
</pre>
-->
