<pre>
Envelope Openers
-------------------------
Characters:
- Lorkham (Cragheart) - Retired
- Farts-like-thunder (Tinkerer)
- Nightmare (Scoundrel) - Retired
- Psycho (Mindthief)
- Divayth Fyr (Doomstalker)
- Medea (Spellweaver)

Reputation: 5

City Prosperity: 4 (15 / 22)

City Rule: <del>Militaristic</del> Economic

Donations to the Sanctuary of the Great Oak: 230

Party Achievements:
- First Steps
- Through the ruins
- Following Clues

Global Achievements:
- The Dead Invade
- End Of Invasion
- Ancient Technologies (2 / 5)
- The Power of Enhancement
- Water Breathing

Goals (treasures looted):
- 67 (10 Gold)
- 05 (Item 023 ChainMail)
- 63 (Random Item Design: 081)
- 01 (Random Item Design: 088)
- 22 (Random Item Design: 074)
- 03 (Item 044 Splintmail)
- 26 (20 Gold)

City Events: 01, 03, 16, Shuffle, 04, 24, 15, Shuffle, 28, 17, 06, Shuffle, 21, 70, 05, 27, 14, Shuffle, Shuffle, 02

City Events discarded: 03, 16, 04, 15, 28, 17, 06, 21, 70, 05, 27, 14

City Events added: 70, 73, 46, 38, 45, 71

Road Events: 08, 03, 11, 23, 14, Shuffle, Shuffle, Shuffle, 10

Road Events Discarded: 08, 11, 23, 10

Road Events added: 46, 38, 45,

Locations:
- 1 Black Barrow (Completed)
- 2 Barrow Lair (Completed)
- 3 Inox Encampment (Completed)
- 4 Crypt of the Damned
- 8 Gloomhaven Warehouse (Blocked)
- 9 Diamond Mine (Completed)
- 11 Gloomhaven Square - supporting Jekserah (Completed)
- 12 Gloomhaven Square - supporting Gloomhaven (Blocked)
- 14 Frozen Hollow (Completed)
- 16 Mountain Pass (Completed)
- 18 Abandoned Sewers (Completed)
- 22 Temple of the Elements (Completed)
- 23 Deep Ruins (Completed)
- 24 Echo Chamber
- 25 Icecrag Ascent
- 26 Ancient Cistern (Completed)
- 43 Drake Nest (Completed)
- 55 Foggy Thicket
- 57 Investigation (Completed)
- 58 Bloody Shack (Completed)
- 72 Oozing Grove
- 76 Harrower Hive
- 81 Temple of the Eclipse (Completed)

Current Location: Gloomhaven City

LORKHAM
---------------
Personal Quest: 528 "Goliath Toppler" (Progress: 3/4)
Level: 3
XP: 127 / 150
Gold: 37
Perk ticks: 1
Perks:
- Replace one -1 card with one +1 card
- Ignore Negative Scenario Effects
Ability Cards:
- L2: Sentient Growth
- L3: Blunt Force
Items:
- 001 "Boots of Striding"
- 014 "Minor Power Potion"
- 003 "Hide Armor"
- 013 "Minor Stamina Potion"
- 130 "Helix Ring"

FARTS-LIKE-THUNDER
----------------------------------
Personal Quest: 513 "Finding the Cure" (Progress: 0/8)
Level: 7
XP: 378 / 420
Gold: 3
Perk ticks: 15
Perks:
- Remove two -1 cards
- Remove two -1 cards
- Add two +1 cards
- Replace One -2 card with one +0 card
- Add one +1 wound card
- Add one +1 wound card
- Add one +3 card
- Add one +1 Heal 2 card
- Add one +1 Heal 2 card
- Add one +0 Add Target card
- Ignore Negative Scenario Effects
Ability Cards:
- L2: Stamina Booster
- L3: Crank Bow
- L4: Dangerous Contraption
- L5: Noxious Vials
- L6: Auto Turret
- L7: Curative Aerosol
Items:
- 006 "Eagle-Eye-Googles"
- 014 "Minor Power Potion"
- 125 "Curious Gear"
- 016 "Cloak of Pockets"
- 020 "Minor Mana Potion"
- 021 "Stun Powder"
- 013 "Minor Stamina Potion"
- 033 "Volatile Bomb"
- 135 "Focusing Ray"
- 034 Major Stamina Potion

NIGHTMARE
------------------
Personal Quest: 526 "Vengeance" (Progress: 4/4)
Level: 5
XP: 215 / 275
Gold: 32
Perk ticks: 14
Perks:
- Add two +MUDDLE cards
- Remove two -1 cards
- Ignore negative scenario effects
- Replace one -2 card with one +0 card
- Remove two -1 cards
- Replace one -1 card with one +1 card
- Replace one +0 card with one +2 card
- Replace one +0 card with one +2 card
Ability Cards:
- L2: Open Wound
- L3: Hidden Daggers
- L4: Flurry of Blades
- L5: Visage of the Inevitable
Items:
- 004 "Leather Armor"
- 013 "Minor Stamina Potion"
- 002 "Winged Shoes"
- 005 "Cloak of invisibility"
- 008 "Heater Shield"
- 011 "Poison Dagger"
- 017 "Emposwering Talisman"
- 012 "Minor Healing Potion"
- 044 "Splintmail"

PSYCHO
-------------
Personal Quest: 521 "Take Back the Trees" (Progress: 3/3)
Level: 5
XP: 332 / 345
Gold: 18
Perk ticks: 4
Perks:
- Add three MUDDLE cards
- Add one +2 & Ice card
- Remove two -1 cards
- Remove two -1 cards
- Add one DISARM card and one MUDDLE card
Ability Cards:
- L2: Hostile Takeover
- L3: Silent Scream
- L4: Cranium Overload
- L5: Mass Hysteria
- L6: Dark Frenzy
Items:
- 011 "Poison Dagger"
- 013 "Minor Stamina Potion"
- 001 "Boots of Striding"
- 008 "Heater Shield"
- 016 "Cloak of Pockets"
- 012 "Minor Healing Potion"
- 020 "Minor Mana Potion"
- 139 "Psychic Knife"
- 027 "Major Healing Potion"

DIVAYTH FYR
---------------
Personal Quest: 530 "Augmented Abilities" (Progress: 0/4)
Level: 5
XP: 227 / 275
Gold: 32
Perk ticks: 8
Perks:
- Remove two -1 cards
- Remove two -1 cards
- Replace Two 0 cards with two +1 card
- Add One Rolling, Add Target Card
- Add One Rolling, Add Target Card
- Ignore Negative Scenario Effects
- Replace Two +0 Cards with Two +1 Cards
Ability Cards:
- L2: Expose
- L3: Press the Attack
- L4: Flight of Flame
- L5: Wild Command
Items:
- 001 "Boots of Striding"
- 013 "Minor Stamina Potion"
- 005 "Cloak of invisibility"
- 012 "Minor Healing Potion"
- 147: "Cloak of the Hunter"

MEDEAS
---------------
Personal Quest: 531 "Elemental Samples" (Progress: 2/6)
Level: 4
XP: 201 / 210
Gold: 0
Perk ticks: 1
Perks:
- Add two +1 cards
- Add one +1 & Wound card
- Add one +2 & Fire
- Add one Rolling Earth card and one Rolling Wind card
Ability Cards:
- L2: Flashing Burst
- L3: Cold Fire
- L4: Spirit of Doom
Items:
- 005 "Cloak of invisibility"
- 034 "Major Stamina Potion"
- 031 "Hawk Helm"
- 027 "Major Healing Potion"

-------------History Log---------------
Global Achievment: City Rule: Militaristic

1) Black Barrow - SUCCESS - (6xp, Party Achievment: First Steps, Scenario: 2 )
- L: 4xp, 4g,
- F: 18xp, 14g, 1t
- N: 8xp, 4g, 2t
- P: 8xp, 4g

2) Barrow Lair - SUCCESS - (6xp, 10g, +1prosperity, Scenarios: 3,4 )
- L: 4xp, 16g
- F: 13xp, 4g, 1t
- N: 7xp, 10g, 1t
- P: 6xp, 4g

Shop:
- N: 002 Winged Shoes (20g)
City Event:- 01: +1 reputation
Road Event:- 08: DISCARD

3) Inox Encampment - SUCCESS - (6xp, 15g, +1 prosperity, Scenarios: 8, 9 )
- L: 6xp, 4g
- F: 13xp, 0g, 1t
- N: 7xp, 8g, 2t
- P: 8xp, 6g, 1t

Shop:
L: 003 Hide Armor (10g)
F: 014 Minor Power Potion (10g)
N: 005 Cloak of invisibility (20g)
P: 001 Boots of Striding (20g)

City Event:- 03: Pay 10 gold (L: -3g, F:-4g, P:-3g) => Ancient Technology: Curious Gear (125) => DISCARD
Road Event: 03

9) Diamond Mine - Success - (6xp, 20g, +1prosperity, Scenarios: 11, 12)
- L: 8xp, 10g
- F: 19xp, 0g, 2t
- N: 6xp, 10g, 1t
- P: 12xp, 6g

City Event:- 16: Pay 10 gold (L: -4g, F:-2g, N: -2g P:-2g) => Add City Event 70 => DISCARD

11) Gloomhaven Square (supporting Jekserah) - Failure
- L: 6xp, 0g
- F: 10xp, 4g
- N: 7xp, 6g
- P: 7xp, 8g, 023 Chainmail

Sanctuary: L: -10g, N: -10g, P: -10g
Shop:
- N: Vende 023 Chainmail (10g), Compra 011 Poison Dagger (20g) y 008 Heater Shield (20g)
- P: 008 Heater Shield (20g)
City Event 04: +1 Reputation, -1 Perk (F: -1t, P: -1t). Discard.

11) Gloomhaven Square (supporting Jekserah) - Success (8xp, 15g, +2prosperity, 113 SkullBan Axe Desing, Scenarios 16, 18, Global Achievements: City Rule: Economic y End of Invasion)
- L: 6xp, 3g
- F: 16xp, 3g, 1t
- N: 5xp, 3g, 1t
- P: 7xp, 3g, 1t

City Event 24: +10 XP
Shop:
- F: 016 Cloak of Pockets (20g), 020 Minor Mana Potion (10g), 021 Stun Powder (20g)

18) Abandoned Sewers - Failure
- L: 8xp, 0g
- F: 15xp, 15g
- N: 8xp, 27g
- P: 11xp, 27g

City Event 15: -2 reputation => DISCARD
Shop:
- N: 017 Empowering Talisman (45g)
- P: 016 Cloak of Pockets (20g), 012 Minor Healing Potion (10g), 020 Minor Mana Potion (10g)
Sanctuary: L: -10g, P: -10g

Road Event 11: Add City Event 73 => DISCARD

16) Mountain Pass - Success (8xp, Scenarios 24, 25)
- L: 9xp, 15g
- F: 10xp, 3g, 1t
- N: 5xp, 0g, 1t
- P: 13xp, 15g, 1t

City Event 28: +10 gold each  => DISCARD
Shop:
- L: 013 Minor Stamina Potion (10g)
- F: 013 Minor Stamina Potion (10g)
- N: 012 Minor Healing Potion (10g)
- P: 021 Stun Powder (20g)

Sanctuary: L: -10g

18) Abandoned Sewers - Success (8xp, Scenarios 14, 23, 26, 43)
- L: 10xp, 18g, 1t
- F: 19xp, 0g, 1t
- N: 5xp, 15g, 1t
- P: 9xp, 21g, 1t

City Event 17: Unlock 81 - Temple of the Eclipse => DISCARD

Sanctuary: L: -10g, N: -10g, P: -10g

OPEN ENVELOPE B => +1 prosperity

Road Event 23: -1 Reputation, L: +2g, F:+2g, N: +2g P:+2g

81) Temple of the Eclipse - Failure
- L: 3xp, 0g, Item 130 - Helix Ring
- F: 7xp, 3g
- N: 9xp, 12g
- P: 7xp, 6g

City Event 06: +1 prosperity,  L: +5xp, F:+5xp, N: +2xp P:+5xp => DISCARD

Shop:
- L: 081 Brilliant Blade (31g)

Sanctuary: L: -10g, P: -10g

Road Event 14: No Effect

81) Temple of the Eclipse - Success (8xp + 10xp)
- L: 4xp, 0g, 1t
- F: 5xp, 9g, 1t
- N: 4xp, 6g, 2t
- P: 10xp, 3g, 1t

Sanctuary: L: -10g, F: -10g, P: -10g => +1 Prosperity

RETIREMENT: LORKHAM
- +1 prosperity
- Add City Event 46
- Add Road Event 46

UNBLOCK: DOOMSTALKER
- Add City Event 38
- Add Road Event 38

CREATE CHARACTER:
Divayth Fyr (Orchid Doomstalker)
Level: 3

City Event 21: No effect

Shop:
- 001 "Boots of Striding"
- 014 "Minor Power Potion"

Open Envelope "when you feel you deserve it": Unlock scenario 76

23) Deep Ruins - Success (8xp, Global Achievment: Ancient Technology, Party Achievement: Through the ruins )
- D: 8xp, 6g, 2t
- F: 10xp, 6g, 1t
- N: 6xp, 0g, 1t
- P: 11xp, 3g, 1t

City Event 70: -1 Reputation => DISCARD

Shop:
- D: 005 "Cloak of invisibility" (21g), 012 "Minor Healing Potion" (11g)

26) Ancient Cistern - Success (8xp, 10g, +1 reputation, +2 prosperity, Party Achievment: Following Clues )
- D: 8xp, 6g, 1t
- F: 15xp, 6g, 1t, Item 033 - Volatile Bomb
- N: 6xp, 3g, 2t
- P: 13xp, 3g

City Event 05: -1 Perk (F: -1, N: -1, P: -1), +1 reputation, +1 prosperity => DISCARD

57) Investigation - Success (10xp, +1 reputation, Scenarios 58 )
- D: 4xp, 6g, 1t, Item Design 074
- F: 10xp, 3g, 1t
- N: 6xp, 3g, 1t, Item 044
- P: 8xp, 3g

Sanctuary: L: -10g, F: -10g, P: -10g, N: 10g

City Event 27: +1 prosperity => DISCARD

58) Bloody Shack - Success (10xp, "Vengeance" quest complete, Open envelope X, +2 reputation )
- D: 5xp, 3g
- F: 9xp, 6g, 1t
- N: 9xp, 0g
- P: 8xp, 0g

Open Envelope X:
"We call from de dust.
From the aged bones of those you have killed.
Speak our name into his web and we will be free.
10 clues you must find. -10 letters to our name-.
Here is our first: B."

Shop:
- F: 015 Boots of Speed (30g)

City Event 14: +2 reputation => DISCARD

Sanctuary: N: 10g => +1 prosperity

RETIREMENT: NIGHTMARE
- +1 prosperity
- Add City Event 45
- Add Road Event 45

CREATE CHARACTER:
Medea (Orchid Spellweaver)
Level: 4, 75g

UNBLOCK Scenario 072 Ooze Grave. (Por el Town Records).

Shop:
- M: 005 "Cloak of invisibility" (-19g), 034 "Major Stamina Potion" (-29), 031 "Hawk Helm" (-19g)

Sanctuary: P: 10g

Road Event 10: Add City Event 71 => DISCARD

14) Frozen Hollow - Success (10xp, Global Achievement: The Power of Enhancement)
- D: 7xp, 20g, 2t
- F: 19xp, 0g, 1t
- M: 8xp, 12g, 1t
- P: 7xp, 36g

City Event 02: P: -10g

Sanctuary: P: 10g

Solo Scenario: P: 23xp, 9g (10xp, ítem 139)
Solo Scenario: F: 11xp, 3g, 1t (10xp, ítem 135)
Solo Scenario: D: 12xp, 0g, 2t (10xp, ítem 147)

Road Event 07: D: -1t, 5xp, F:  -1t, 5xp, M: -1t, 5xp, P: -1t, 5xp => Discard

43) Drake Nest - Success (10xp, Global Achievement: Water Breath)
- D: 17xp, 20g, 1t
- F: 7xp, 21g, 2t
- M: 18xp, 9g, 1t
- P: 12xp, 3g, 1t, 098: Drakescale Boots

Shop:
- M: 027 Major Heal Potion (-29g)
- F: 034 Major Stamina Potion (-29g)

City Event 10: D: -5g, F: -5g, M: -5g, P: -5g

Sanctuary: P: 10g

Shop:
- P: Sell 098 Drakescale Boots (+25g), Buy 027 Major Heal Potion (-29g)
</pre>
