<div class="row">
  <div class="col-4">
    <img [src]="token.srcBig" height="300">
  </div>
  <div class="col-8" *ngIf="token.status" id ="status-effects">
    <div class="text-uppercase">
      <p *ngIf="token.stats.s">Shield {{token.stats.s}}
        <svg class="bi bi-shield-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.187 1.025C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 012.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 01-2.418 2.3 6.942 6.942 0 01-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 01-1.007-.586 11.192 11.192 0 01-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 012.415 1.84a61.11 61.11 0 012.772-.815z" clip-rule="evenodd"/>
        </svg>
      </p>
      <p *ngIf="token.stats.ta">Target {{token.stats.ta}}
        <svg class="bi bi-bullseye" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M8 13A5 5 0 108 3a5 5 0 000 10zm0 1A6 6 0 108 2a6 6 0 000 12z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M8 11a3 3 0 100-6 3 3 0 000 6zm0 1a4 4 0 100-8 4 4 0 000 8z" clip-rule="evenodd"/>
          <path d="M9.5 8a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"/>
        </svg>
      </p>
      <p *ngIf="token.stats.re">Retaliate {{token.stats.re}}</p>
      <p *ngIf="token.stats.po">Poison</p>
      <p *ngIf="token.stats.mu">Muddle</p>
      <p *ngIf="token.stats.wo">Wound</p>
      <p *ngIf="token.stats.im">Immobilize</p>
      <p *ngIf="token.stats.ad">Advantage</p>
      <p *ngIf="token.stats.di">Attackers gain disadvantage</p>
      <p *ngIf="token.stats.m">Move {{token.stats.m}}</p>
      <p *ngIf="token.stats.a">Attack {{token.stats.a}}</p>
      <p *ngIf="token.stats.r">Range {{token.stats.r}}</p>
    </div>

    <div align ="center">
      <button class="btn btn-danger" (click)="damageButtonClick()" [disabled]="token.stats.h === 0" type ="button" style="font-size:15px;">Damage 1</button>
      <span id="health-counter">{{ token.stats.h }}
        <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
        </svg>
      </span>
      <button class="btn btn-success" (click)="healButtonClick()" [disabled]="token.stats.h === token.maxHealth || token.status?.poisoned" type ="button" title="If Poisoned, Heal Skills Must Remove Poison Instead of Increasing Health">Heal 1</button>
    </div>

    <div>
      Current:
      <img *ngIf="token.status.poisoned" (click)="token.status.poisoned = false" class="status" src="./assets/poisoned.png"/>
      <img *ngIf="token.status.wounded" (click)="token.status.wounded = false" class="status" src="./assets/wounded.png"/>
      <img *ngIf="token.status.immobilized" (click)="token.status.immobilized = false" class="status" src="./assets/immobilized.png"/>
      <img *ngIf="token.status.disarmed" (click)="token.status.disarmed = false" class="status" src="./assets/disarmed.png"/>
      <img *ngIf="token.status.stunned" (click)="token.status.stunned = false" class="status" src="./assets/stunned.png"/>
      <img *ngIf="token.status.muddled" (click)="token.status.muddled = false" class="status" src="./assets/muddled.png"/>
      <img *ngIf="token.status.strengthened" (click)="token.status.strengthened = false" class="status" src="./assets/Strengthen.png"/>
      <img *ngIf="token.status.invisible" (click)="token.status.invisible = false" class="status" src="./assets/invisible.png"/>
    </div>
    <div>
      Available:
      <img *ngIf="!token.status.poisoned" class="status" (click)="token.status.poisoned = true" src="./assets/poisoned.png" />
      <img *ngIf="!token.status.wounded" class="status" (click)="token.status.wounded = true" src="./assets/wounded.png" />
      <img *ngIf="!token.status.immobilized" class="status" (click)="token.status.immobilized = true" src="./assets/immobilized.png"/>
      <img *ngIf="!token.status.disarmed" class="status" (click)="token.status.poisoned = true" src="./assets/disarmed.png"/>
      <img *ngIf="!token.status.stunned" class="status" (click)="token.status.stunned = true" src="./assets/stunned.png"/>
      <img *ngIf="!token.status.muddled" class="status" (click)="token.status.muddled = true" src="./assets/muddled.png"/>
      <img *ngIf="!token.status.strengthened" class="status" (click)="token.status.strengthened = true" src="./assets/Strengthen.png"/>
      <img *ngIf="!token.status.invisible" class="status" (click)="token.status.invisible = true" src="./assets/invisible.png"/>
    </div>

  </div>
</div>
