ul {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding:25px 0;
  color:black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  /*background-color: white;*/
}

.active {
  background-color: red;
}
