<ul class="nav nav-pills" [style.backgroundImage]="'url(assets/background.png)'">
  <li class="nav-item">
    <a class="nav-link" routerLink="/players" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
  </li>
  <li class="nav-item" ngbDropdown #map (mouseenter)="map.open()">
    <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Maps</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a *ngFor="let scenario of scenarios" class="nav-link"  routerLink="/map/{{scenario.id}}">Map {{scenario.id}} - {{scenario.name}}</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/play" routerLinkActive="active">Player</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/history" routerLinkActive="active">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/log" routerLinkActive="active">Log</a>
  </li>
</ul>

<!-- <ul [style.backgroundImage]="'url(assets/background.png)'">
  <li><a routerLink="/players" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
  <li class="dropdown" routerLinkActive="active">
    <a href="javascript:void(0)" class="dropbtn">Maps</a>
    <div class="dropdown-content">
      <a routerLink="/map/16">Map 16 - Mountain Pass</a>
      <a routerLink="/map/18">Map 18 - Abandoned Sewers</a>
    </div>
  </li>
  <li><a routerLink="/play" routerLinkActive="active">Player</a></li>
  <li><a routerLink="/history" routerLinkActive="active">History</a></li>
  <li><a routerLink="/log" routerLinkActive="active">Log</a></li>
</ul>
 -->
