.nav {
  width: 100%;
}

.nav-link, .btn {
  color: black;
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: normal;
  padding: 14px 16px;
  width: 100%;
}

.nav-item div {
  width: max-content;
}

.nav-pills .show > .nav-link {
  color: black;
  background-color: #B4805E;
}

.nav-pills .nav-link.active {
  color: black;
  background-color: red;
}

.nav-item:hover, .nav-pills .show > .nav-link:hover {
  background-color: red;
}

.dropdown-menu {
  padding: 0 0 0 0;
}

/* nav {
  font-size: 20px;
  font-weight: bold;
  color: black;
}



.nav-link.active {
  background-color: red;
} */

/*
ul {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding:25px 0;
  color:black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: red;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {
  display: block;
} */
