<!--Perks Section -->
<div id ="perk-section" align ="center">
  <h2 id ="perks-header" class = "header">Select Your Perks</h2>
  <div id ="cragheart-perks" class ="perks">
    <div *ngFor="let perk of perksList">
      <div [id]="perk.id" class="checkbox chPerk" [class.checked]="perk.checked" (click)="perk.checked = !perk.checked"></div>
      <p>{{perk.title}}</p>
    </div>
    <button id ="chConfirmPerksButton" class ="button" type ="button" (click)="confirmPerks()">Confirm Perks</button>
  </div>

  <button id = "go-back1" class = "button" type ="button" (click)="goBack()">Go Back To Character Select</button>
</div>
